[2021-06-23 18:16] Dhaulagiri opened #2 "Finalize RFC for implementation"
- [x] Migrate the implementation proposal into the RFC doc itself
- [x] @dizzyup - Confer with marketing on the need for 48px versions of icons and add that to the RFC
- [x] Solicit feedback from the team
- [ ] Finalize prototype https://github.com/hashicorp/flight/issues/13 and create MVP demos https://github.com/hashicorp/flight/issues/8
- [ ] Socialize more broadly

[2021-06-23 18:19] Dhaulagiri opened #6 "Figma Setup"
- [x] A Figma library is published
- [x] A ‘Working Copy’ file is published, containing instructions for editing and creating new icons

[2021-06-23 18:20] Dhaulagiri opened #5 "Documentation microsite"
This will likely need to be decomposed into meta issues, but at a high level we'd like a simple documentation site that offers the following:

- [ ] icon inventory (https://github.com/hashicorp/flight/issues/56)
- [ ] The icon inventory is searchable (https://github.com/hashicorp/flight/issues/55)
- [ ] How to contribute changes (https://github.com/hashicorp/flight/issues/26)
- [ ] Document guidel

[2021-06-30 14:59] Dhaulagiri opened #4 "Catalogue mapping between structure-icons and flight icons"
We need to build an understanding such that

* Designers understand how to migrate their designs to use new icons as they do new work
* Engineers know how to transition icons in their UIs to Flight

Ideally we can use this build up some way of automating a migration between the two icon libraries.

[2021-07-23 20:27] Dhaulagiri opened #3 "Confirm responsibility for icon library"
Confirm our expectation that the design system team owns the icon library across marketing, product, etc

[2021-07-23 20:29] Dhaulagiri opened #1 "Resolve existing feedback on the RFC"
We need to go through the existing feedback on the RFC and resolve/address as much of it as possible

[2021-07-23 20:37] Dhaulagiri opened #8 "Create example of flight icons in use"
Given I am a consumer of our existing icon library
I can see an example of flight icons being consumed in an Ember application

Things we may want to consider highlighting for input:
* Color
* Size
* Accessibility

[2021-07-23 20:43] Dhaulagiri opened #10 "Obtain final approval"
_TBD what this actually looks like_

[2021-07-26 19:45] #3 closed, assigned to dizzyup

[2021-07-27 15:15] Dhaulagiri opened #11 "Document existing icon usage"
We want to gather examples of how the existing icons are being consumed across applications using structure or not to better inform a new API and also how we might codemod our new implementation.

[2021-07-29 14:25] Dhaulagiri opened #12 "Create json file with list of structure icons"
To support https://github.com/hashicorp/flight/issues/4, we need to write a script that can create a json file that contains a list of key/value pairs with the structure icon name as the key and a blank placeholder we'll then fill in with the corresponding flight icon.

[code]

_If there is an object structure that makes more sense let's do that_

[2021-07-29 14:32] #10 closed, assigned to Dhaulagiri

[2021-07-29 15:43] Dhaulagiri opened #13 "Create reference implementation of flight icon component"
To support the RFC we want to come up with a reference implementation for what a new component that consumes a flight icon.

Some key questions we want to answer:

- [ ] how we envision enforcing/supporting size attributes
- [ ] accessibility
- [ ] _your question here_

[2021-07-30 12:49] #12 closed, assigned to Dhaulagiri

[2021-08-02 15:44] dizzyup opened #15 "Draw and finalize icons"
There's some remaining work to get a production ready version of the icon assets delivered:

- [x] Draw 24px icons
- [x] Draw 16px icons
- [x] Adjustments for pixel grid alignment
- [x] Add additional icon set for third party icons
- [x] Outline all final icons

[2021-08-02 16:25] #11 closed, assigned to Dhaulagiri

[2021-08-03 13:38] Dhaulagiri opened #16 "Create detailed migration mappings for each UI"
Building on the initial inventory done [here](https://docs.google.com/document/d/1i1TUiaNPLdAoXKRMS3aohisBHJLB_mkCz2BmvknecmI/edit#heading=h.g3sbmti7b6dy), we need to further capture detail around how each of our UIs customizes color and and size with their respective inline-svg solutions so we know how to map that behavior to our new component via codemod.

The output for this could be something

[2021-08-03 15:55] #15 closed, assigned to dizzyup

[2021-08-03 21:39] amyrlam opened #17 "Test ember-flight-icons in cloud-ui / Make passing in icon color easier"
Circle back with @venusang re: https://github.com/hashicorp/cloud-ui/pull/1217 / https://hashicorp.slack.com/archives/CPB8GS9QT/p1627069656308600.

Milestone-wise, kind of a part of Implementation and Migration?

Extracted from https://github.com/hashicorp/flight/issues/8#issuecomment-885931022 as separate task.

[2021-08-06 19:39] Dhaulagiri opened #20 "Add icon mappings for 3rd party icons"
https://github.com/hashicorp/flight/pull/18 Added mappings between structure/flight but 3rd party icons had yet to land in flight. Once that happens and we are able to export them we should update this file with the correct mappings

[2021-08-06 19:52] #4 closed, assigned to dizzyup

[2021-08-09 13:45] Dhaulagiri opened #22 "svg exports from Figma open a PR for review"
The current GitHub action that exports icons from Figma does so in a commit directly to main. To avoid conflicting with our desire to have a protected main branch, the final version should instead open a PR with prospective changes for review.

[2021-08-09 15:09] MelSumner opened #23 "switch from npm to yarn within ember-flight-icons"
The company convention is to use yarn; switch the addon so it uses yarn instead of npm.

[2021-08-09 16:33] Dhaulagiri opened #24 "figma export should contain synonyms"
Extracted from [here](https://github.com/hashicorp/flight/issues/5#issuecomment-893014116), when we export the icons from figma there is a series of description attributes we want to export to utilize in our search functionality.

`Description` will be added:

[code]

[2021-08-09 16:38] Dhaulagiri opened #25 "export ember-data compatible list of icon names"
The current export includes a json file with the icon name and its size. In order to support an ember-based documentation approach we need to massage this file into something ember data can understand like this:

![image](https://user-images.githubusercontent.com/1672302/128741825-e0f80b9e-8170-4fc8-bf9d-1a5e9cb87d3c.png)

When working this issue circle back to confirm this is still relevant based

[2021-08-09 16:39] Dhaulagiri opened #26 "Document contribution guidelines"
_more meta about how to contribute to the project vs contributing specific icon set changes_

[2021-08-09 17:38] Dhaulagiri opened #27 "Document usage guidelines for engineers"
Given I am a an engineer implementing a design with Flight
I have usage guidelines indicating best practices, patterns to avoid, etc

The output for this can be a markdown file in the repo which we can then surface in our docs site

[2021-08-09 17:56] Dhaulagiri opened #28 "Create skeleton for node icon export library"
### Todo
- [ ] name (`icon-export`?)
- [ ] uses yarn
- [ ] has appropriate license
- [ ] author: `HashiCorp`

[2021-08-09 18:25] junyper opened #29 "Add a title argument to the FlightIcon component"
I'd like to recommend adding a `title` optional argument.

Note: the last time I checked using `aria-labelledby` along with the `title` element worked consistently across screen readers to provide an accessible label for an inline SVG.

The template would be something like this:

[code]

With this implementation, developers would get the presentational markup by default, but could easily assign a

[2021-08-09 20:19] junyper opened #31 "Set the value of the data-test-icon attribute to the name of the icon"
Small thing, but `<svg data-test-icon={{@name}} ...>` might be useful for testing?

[2021-08-10 23:21] amyrlam opened #35 "Add "3rd party/services" assets to Flight Icons"
@Dhaulagiri @MelSumner I extracted this out into a separate ticket from https://github.com/hashicorp/flight/issues/13 and will leave it as `triage`

@amyrlam said:

See if logo icons from other companies can be used with this approach. Sometimes, companies have restrictions on svg manipulation with their logos IIRC. This could be broken out into a separate issue if easier! re: https://hashicorp.sl

[2021-08-11 13:57] junyper opened #36 "Consider scoping the FlightIcon component CSS to prevent conflicts"
I'd like to suggest that we scope the FlightIcon component CSS selectors in some way to prevent collisions with consuming application styles.

This could be done via [postcss](https://github.com/postcss/postcss) and the [css-module plugin](https://github.com/madyankin/postcss-modules), or via some [CSS-in-JS](https://vanilla-extract.style/) solution.

(Side note: another benefit of many scoping ap

[2021-08-11 14:55] Dhaulagiri opened #38 "Create visual overview of Flight process"
To help aid our discussions and future documentation efforts, create an overview that captures the process for taking an icon from idea to adoption.

[2021-08-11 14:56] #8 closed, assigned to amyrlam

[2021-08-11 15:58] amyrlam opened #39 "Script to create sprite"
Given we have a directory of SVGs
I can run a script that will compile them into a single sprite

[2021-08-11 16:53] Dhaulagiri opened #40 "Get final figma file in front of designers for feedback"
As we finalize the RFC, we want to get the final figma file in front of designers for their feedback and input so we can make any adjustments necessary

[2021-08-11 20:03] Dhaulagiri opened #43 "Warn consumers if they don't specify an icon"
Given I am a consumer of the ember addon
And I do not specify an icon
I get a friendly error (or warning) notifying me that I need to specify an attribute

[2021-08-11 20:15] Dhaulagiri opened #45 "Setup CI for ember-flight-icons"
- [x] Setup using GitHub CI
- [x] Required to pass before changes can be merged
- [ ] Badge added to readme

[2021-08-11 21:09] #36 closed, assigned to MelSumner

[2021-08-12 13:41] MelSumner opened #47 "Confirm that addon works in our apps"
Confirm that the addon works as intended in our apps.

## UIs

- [ ] [HCP](https://github.com/hashicorp/cloud-ui) (cloud-ui)
- [x] [Boundary UI (admin)](https://github.com/hashicorp/boundary-ui/tree/main/ui/admin)
- [x] [Vault  UI](https://github.com/hashicorp/vault/tree/main/ui)
- [x] [Waypoint UI](https://github.com/hashicorp/waypoint/tree/main/ui)
- [x] [Nomad UI](https://github.com/hashicorp/n

[2021-08-12 14:18] Dhaulagiri opened #48 "Determine how sprite will be published/consumed"
Given I have created a version of the sprite using our build script
How will consumers (like our ember addon) consume the sprite file?

[2021-08-13 13:50] Dhaulagiri opened #53 "Have this project added to our vercel deploys"
Once we have an initial version to standup we'll need to add this repo to our vercel account and then get it configured to deploy the dummy app in ember-flight-icons (ideally for every PR as well)

[2021-08-13 14:09] #38 closed, assigned to heatherlarsen

[2021-08-13 17:17] Dhaulagiri opened #54 "Add tests validating `color` behavior"
Once https://github.com/hashicorp/flight/pull/34 lands we should add some integration tests that confirm the behavior of the `color` property work as expected.

[2021-08-13 17:40] #22 closed, assigned to nobody

[2021-08-13 20:51] Dhaulagiri opened #55 "Allow icons index to be searched"
Given I can see a list of icons
And I input a search query
I am shown a list of corresponding icons that match that search query

A portion of this functionality will depend on https://github.com/hashicorp/flight/issues/24, so if that is blocking we can initially target exact matches and open a follow-up issue for when that export work has been completed

[2021-08-13 20:52] Dhaulagiri opened #56 "Display the list of icons"
Given I have a sprite with icons
I can see grid of those icons displayed as a reference

[2021-08-13 20:53] Dhaulagiri opened #57 "Standup skeleton docs site"
Given I am trying to implement other tasks in [this milestone](https://github.com/hashicorp/flight/milestone/2)
I have a simple docs site skeleton in place that I can begin implementing various features/adding documentation to

[2021-08-16 14:32] #23 closed, assigned to MelSumner

[2021-08-16 15:39] #1 closed, assigned to dizzyup

[2021-08-16 15:44] #47 closed, assigned to MelSumner

[2021-08-16 15:46] #2 closed, assigned to Dhaulagiri

[2021-08-16 16:17] #5 closed, assigned to MelSumner

[2021-08-16 19:09] #13 closed

[2021-08-16 19:48] amyrlam opened #60 "Confirm how marketing wants to use icons"
- AC: Make issue if needs further work / could document decision in the README
- Reached out to Zach Shilton

[2021-08-16 21:26] amyrlam commented on #60
Talked to @zchsh and tagging for tracking purposes! Braindumping our chat here for my own notes / visibility:

React folks are currently using / looking for raw SVG's:

React notes:
- AL: Mentioned that there are 2 different sizes now e.g. https://github.com/hashicorp/flight/blob/main/ember-flight-icons/public/icons/activity-16.svg and https://github.com/hashicorp/flight/blob/main/ember-flight-ico

[2021-08-16 21:29] amyrlam commented on #60
Left a bunch of notes ^^ and will take a closer look

- [ ] @hashicorp/design-systems Question - Is the current idea that this directory of svg's (https://github.com/hashicorp/flight/tree/main/ember-flight-icons/public/icons) will be packaged up into a `react-flight-icons` addon, just containing the raw svg's?

[2021-08-16 22:07] amyrlam opened #62 "Question: Default icon size decision"
i incorrectly assumed the default icon size was 16 in https://github.com/hashicorp/flight/pull/34. i thought that that was more common in ember repos, but i can do some investigation

it sounds like marketing / react mostly uses icons as 24 per https://github.com/hashicorp/flight/issues/60

by size, i mean the `viewBox` and the `height` and `width`, sans px or other measurement rn

[2021-08-16 22:19] Dhaulagiri commented on #60
The initial thinking based both on how structure-icons is packaged and a request in the RFC is that we could publish the individual svgs as a package to NPM, but I don't think we'd necessarily need to frame that as something that is react specific.

[2021-08-16 22:53] MelSumner commented on #62
I confirmed default icon size with @dizzyup before implementing in a component. 👍

[2021-08-17 02:00] amyrlam commented on #62
cool thanks for the info, just curious why, is it more common? could add a one liner to the docs so is clear if others ask too

[2021-08-17 02:13] amyrlam commented on #60
@Dhaulagiri makes sense about not being react specific, maybe just `flight-icons` then or something?

would it be cool to make a 0.0.1 or beta `flight-icons` then in npm? i think would follow these instructions: https://docs.npmjs.com/cli/v7/commands/npm-publish

//

IIRC i think this approach is similar to material ui https://material-ui.com/components/material-icons/#api, e.g.

`import OpenInNew

[2021-08-17 11:22] dizzyup commented on #62
More common in product certainly - that was the lense I made that call through I think. I could totally see that not being the case on the marketing side though.

I think maybe the answer here is that the React plugin, or whatever mechanism marketing come up with on their side, default to `24` and our Ember add-on maintains `16`.

[2021-08-17 11:49] dizzyup commented on #60
The animation piece of this is really interesting -- is anyone against opening up a new issue to track that specifically?

Initial thoughts - agree completely and you're correct, the new Flight SVG paths could be targeted this way as they are and animated similarly to the way they are today - it would also definitely be preferable to codify that mechanism.

As far as I know, there's no way to assi

[2021-08-17 12:46] MelSumner commented on #62
@amyrlam yes correct. 👍  I even thought about finding out which icon was used the most so if they used `<FlightIcon/>` by itself they'd get at least something.

[2021-08-17 15:06] amyrlam opened #66 "Investigate animation of icons from marketing / React sites"
Animation question, extracted from https://github.com/hashicorp/flight/issues/60

ZS: One thought I have is around enabling icon animations. It seems like a real challenge. An example might be the external-link icon animation we have on https://www.hashicorp.com/community. At present, we build this animation in the specific component (in this case a button / link component), by targeting specific

[2021-08-17 15:12] amyrlam commented on #60
here's a new issue for the animation https://github.com/hashicorp/flight/issues/66 and strikethru'd above, definitely feel free to break apart issues i've made anytime!

[2021-08-17 15:18] amyrlam commented on #62
thanks for the context, made this tweak, lmk what you think: https://github.com/hashicorp/flight/pull/67

[2021-08-17 15:21] #39 closed

[2021-08-17 21:35] amyrlam opened #68 "Missing icons from export?"
Was pairing with someone who made a new icon (this PR: https://github.com/hashicorp/cloud-ui/pull/1279), I noticed `check-hexagon-fill` from Figma didn't make it here. Should investigate if the script is working?

Maybe could a test for the # of exports matching the quantity # in Figma or something

[2021-08-18 11:15] #62 closed

[2021-08-18 11:21] MelSumner commented on #56
May be resolved by #63

[2021-08-18 15:56] amyrlam commented on #68
i think it is there (confused) https://github.com/hashicorp/flight/blob/main/export-go/dist/check-hexagon-fill-16.svg

[2021-08-18 16:08] Dhaulagiri opened #72 "Dynamically generate list of icons in docs site"
We have a manually generated list of icons
We want to generate this list automatically based on either the contents of the sprite or perhaps the catalog.json file

[2021-08-18 16:57] #45 closed

[2021-08-18 17:34] amyrlam commented on #60
cc @braydenlove @kendallstrautman following up from Slack, will tag you on test PR today

[2021-08-18 17:57] Dhaulagiri commented on #68
This seems like a useful thing we should do as part of the export re-write. # of icons in = # of svgs generated

[2021-08-18 21:58] amyrlam opened #75 "Fix export from Figma"
Some icons such as https://github.com/hashicorp/flight/blob/main/export-go/dist/chevron-up-16.svg are the wrong icon (is down, not up) and oddly cropped.

- Could fix in Go
- We may migrate the export from Go to Node, so now could be a good time to do that? Just adding for discussion
- Write tests / somewhat relates to https://github.com/hashicorp/flight/issues/68

Reported by: @randallmorey cc @h

[2021-08-18 23:27] MelSumner commented on #75
I noted that quite a few of the chevron icons are cut off/not displaying correctly.

[2021-08-19 10:43] dizzyup commented on #75
Fixed in #76

[2021-08-19 10:48] dizzyup commented on #68
@amyrlam Is it possible the icons hadn't been added with the version they were playing with? The hex icons were among the most recent to get added.

Really like the idea of having a count to sanity check.

[2021-08-19 13:06] Dhaulagiri opened #77 "Match number of icons from Figma with number of icons exported"
Given I have N icons in the Figma file
The exporter should have a validation in place to confirm it generates N svgs

[2021-08-19 13:07] Dhaulagiri commented on #68
Opened https://github.com/hashicorp/flight/issues/77 to track implementation of a sanity check

[2021-08-19 13:16] Dhaulagiri opened #78 "Default icon size should be 16"
There's been some miscommunication around this, but the default icons size should be 16 and not 24. We'll need to update the component and the documentation to reflect this.

[2021-08-19 14:52] #75 closed

[2021-08-19 15:23] #6 closed

[2021-08-19 18:41] amyrlam commented on #78
👍 sgtm I would have assumed that was the standard on the product Ember side given icons are often inline with text.

(slight tangent, but to share) FWIW some repos like `consul` are using a `viewBox` of 24 as default, but we should look at this more. `consul` consumes `iris`, they are stripping out the `height` and `width` and just using the `viewBox` https://github.com/johncowen/iris/blob/flight/

[2021-08-20 03:54] amyrlam opened #80 "Explore "mix and match" components"
Maybe a spike / epic? Bringing from Slack to an issue for tracking purposes.

@natmegs is looking to add icons like these numbered hexagons to `cloud-ui` :
![image](https://user-images.githubusercontent.com/1372946/130176446-928d62fc-ef12-40a3-a426-c151f6530552.png)

From @dizzyup:

![image](https://user-images.githubusercontent.com/1372946/130176554-41be2802-f66d-437c-9c47-339528435e2b.png)

My t

[2021-08-20 05:47] amyrlam commented on #60
Sorry for the delay, got pulled away in various directions, I should have said 🔜

I published a 0.0.2-beta here https://www.npmjs.com/package/@hashicorp/flight-icons, built from this PR: https://github.com/hashicorp/flight/pull/69.

I think tomorrow I will test in http://github.com/hashicorp/hashicorp-www-next or https://github.com/hashicorp/react-components/, can timebox and reach out to you with

[2021-08-20 05:56] amyrlam opened #83 "Decide on Ember addon name"
Right now it's `ember-flight-icons`. The RFC DS-008  and Whimsical referred to both `flight-ember-icons` and `flight-icons-ember`

It would be cool to converge on a name for the Ember one, since it's a bit of a PITA to rename things in npm. Based on the RFC DS-008 discussion, it would also be great for folks to start testing the Ember addon ASAP if they're up for it, even in a beta state.

Boundar

[2021-08-20 06:11] amyrlam opened #84 "How to handle the dupe svgs from export-go to flight-icons"
The svg's from the Go export are duplicated in the Ember icon. Right now they are out of sync from the latest Figma export, I manually copied them in https://github.com/hashicorp/flight/pull/69.

Some ideas:
- Have Ember addon consume https://www.npmjs.com/package/@hashicorp/flight-icons. Right now I've been publishing the flight-icons addon on a not for merge PR (https://github.com/hashicorp/flig

[2021-08-20 13:22] Dhaulagiri opened #85 "Create semver guidelines"
This could likely be a blueprint for the rest of our design system work, but we need to an RFC to drive documentation around how we intend to version our packages

[2021-08-20 13:50] #56 closed

[2021-08-20 13:50] #72 closed

[2021-08-20 14:05] Dhaulagiri commented on #84
As described option 1 seems most reasonable. The missing bit we need to solidify though is where does that actual sprite generation take place. An alternative to consider would be to have a build step available in the export node library that takes all the svgs and builds a sprite and then copies that file into the ember addon's public folder for use there.

[2021-08-20 14:29] Dhaulagiri commented on #84
See also https://github.com/hashicorp/flight/issues/48

[2021-08-20 17:48] amyrlam commented on #68
yeah... i think it was just missing in the moment, maybe because we weren't using the versioned npm package. since brian made https://github.com/hashicorp/flight/issues/77, seems like this can be closed. if you ever disagree on "done" though, def feel free to reopen

[2021-08-20 17:48] #68 closed

[2021-08-20 19:43] #55 closed

[2021-08-20 19:48] Dhaulagiri commented on #25
@MelSumner it seems like we moved away from an approach that would need this work?

[2021-08-20 23:19] amyrlam opened #87 "Arrow-right is broken"
I was testing this in React and noticed it's borked here: https://github.com/hashicorp/flight/blob/main/export-go/dist/arrow-right-24.svg

It looks fine in Figma, may be related to https://github.com/hashicorp/flight/pull/76? cc @dizzyup

Also I'll work on getting Vercel set up so we can look at all of them, is next on my list

[2021-08-20 23:31] amyrlam commented on #60
@zchsh @braydenlove @kendallstrautman

On https://github.com/hashicorp/hashicorp-www-next, I used `chevron-right-24.svg` instead of `arrow-right-24.svg` (is broken, filed https://github.com/hashicorp/flight/issues/87) to generate this gif:

![icons-react](https://user-images.githubusercontent.com/1372946/130302096-182a6432-26d6-4bfc-9283-a6e4b9c81874.gif)

- [ ] Question 1: I actually don't have a

[2021-08-21 00:50] amyrlam commented on #87
some more here and a screenshot of the search https://github.com/hashicorp/flight/pull/79 from spot checking i saw a couple more there

i spot checked it super quickly so definitely could have missed something

[2021-08-23 13:28] Dhaulagiri commented on #57
Closed by https://github.com/hashicorp/flight/pull/63

[2021-08-23 13:28] #57 closed

[2021-08-23 13:30] Dhaulagiri commented on #66
I believe this will be something we need to address for product site as well. See [this example](https://structure.hashicorp.vercel.app/?path=/story/components-loading--index) that uses a loading icon.

[2021-08-23 13:33] Dhaulagiri commented on #87
I wonder if there is a way we can tell if an icon has been flattened or not in Figma as we export it 🤔

[2021-08-23 14:46] dizzyup commented on #87
There's not much lift in the SVG output unfortunately (https://github.com/hashicorp/flight/pull/76/files#diff-17e4b26df9e229baa06c778c55c75f2aec43ce4c9486e789d6c2609e3538ffe6) - feels unlikely there'd be way to detect it, and I don't think Figma has anything in the API around operations.

We can catch this sort of thing in future PRs though. Once we have the end-to-end flow wired up and Vercel pub

[2021-08-23 16:05] Dhaulagiri commented on #83
✅ based on discussion today:  `ember-flight-icons` it is

[2021-08-23 16:06] amyrlam commented on #83
go with `ember-flight-icons` and publish a 0.0.1-beta today once we have ember-flight-icons consuming flight-icons (right now there are 2 sources of truth and are out of date)

[2021-08-23 16:27] randallmorey opened #90 "Namespace icons"
Currently, icons live under `export-go/dist/`.  While it's possible to namespace icons in this location, it would be ideal if they were already packaged in a folder named `flight` (e.g. `../dist/flight/`).

Boundary would like to consume and use namespaced icons.

[2021-08-23 16:28] amyrlam commented on #87
maybe we can implement percy to detect visual shifts in the PR, which will catch svg changes?

[2021-08-23 16:56] dizzyup opened #91 "Update icon library"
Fixup icons with broken paths:
- #87
- https://github.com/hashicorp/flight/pull/79

Add requested icons:
- `x` icon variants (filled)
- `connection` icons

[2021-08-23 16:56] amyrlam opened #92 "Consider adding markdownlint"
https://github.com/hashicorp/flight/pull/79#discussion_r694131029

[2021-08-23 17:02] amyrlam opened #93 "Consider adding Percy"
Would allow us to have some sort of test for visual changes re: https://github.com/hashicorp/flight/issues/87

[2021-08-23 17:28] MelSumner commented on #43
This is what they see now:
![image](https://user-images.githubusercontent.com/4587451/130490629-5a0dee52-08ab-4457-81dc-575c1d6ead4b.png)

The message is set here in the component class, can be changed if we need something else instead: https://github.com/hashicorp/flight/blob/235dde2b8115ae0d7aa421d7c9da867ed0e7e761/ember-flight-icons/addon/components/flight-icon.js#L39

By using `assert`, we hav

[2021-08-23 17:28] #43 closed

[2021-08-23 17:31] MelSumner commented on #84
I was reading through the source code of `ember-mdi`, and it seems like that addon imports the mdi icons for use; this also allows for the configuration of only including the ones that you need.

This could be an approach we consider.

[2021-08-23 17:44] MelSumner commented on #54
To prevent duplicate work:

Currently, these things have been verified:
- `@color` (`fill`) is set to `currentColor` by default (see [the class](https://github.com/hashicorp/flight/blob/235dde2b8115ae0d7aa421d7c9da867ed0e7e761/ember-flight-icons/addon/components/flight-icon.js#L18) and [the template](https://github.com/hashicorp/flight/blob/235dde2b8115ae0d7aa421d7c9da867ed0e7e761/ember-flight-ico

[2021-08-23 17:53] MelSumner commented on #17
@amyrlam I documented some of the known things here: https://github.com/hashicorp/flight/issues/54

[2021-08-24 00:41] amyrlam commented on #53
i'm stuck in this loop, will xpost on slack ![vercel](https://user-images.githubusercontent.com/1372946/130537409-927512f5-a268-43a8-9fe9-ab4af4c0b2a5.gif)

[2021-08-24 01:03] amyrlam commented on #53
update: pinged helpdesk

[2021-08-24 02:42] amyrlam commented on #60
sorted some of this on slack

re: Question 2:

re: Question 3:

- [ ] Get a PR up on https://github.com/hashicorp/hashicorp-www-next so folks can give feedback on what they see in the DOM, in case want changes
  - [ ] Figure out where the external link icon is in code so can test the animation portion, broken out into separate issue https://github.com/hashicorp/flight/issues/66. Allow pieces to be

[2021-08-24 15:21] #53 closed

[2021-08-24 16:43] #78 closed

[2021-08-24 16:54] amyrlam opened #102 "Explain GitHub Actions test suite only fires at ember-flight-icons/ dir"
Test seem to be stalled on https://github.com/hashicorp/flight/pull/100

Maybe related to implementing vercel?

![image](https://user-images.githubusercontent.com/1372946/130657853-305251ec-e7d6-4b6a-a26b-1820c5c1014f.png)

[2021-08-24 17:00] Dhaulagiri commented on #102
This is because they are [configured](https://github.com/hashicorp/flight/blob/5299cc8b81e7fd88b53f2a3390bffc60c1bdd7cc/.github/workflows/ci-ember-flight-icons.yml#L44) to only run if something in the ember addon changes. This is pretty confusing and breaks the ability to require them to pass though...

[2021-08-24 17:17] amyrlam commented on #102
oh i see, thanks for pointing that out. never seen that before in tests, but haven't worked on too many addons.

should we consider having export-go output to `ember-flight-icons/`, or is that not the addon way?

[2021-08-24 17:43] Dhaulagiri commented on #102
I don't know that we'd want to consider something like that just to get the tests to behave a certain way. It'd be more a question of how we want the icon workflow to behave between figma/github.

[2021-08-24 19:39] amyrlam commented on #102
yeah makes sense, i meant more to not have 2 copies of icons. but is a tangent, will keep the issue scoped!

for this, i think i can at least add something to the readme or PR template that explains this? will propose something in a PR

[2021-08-24 20:18] amyrlam commented on #90
following up from slack, right now the npm tarball https://github.com/hashicorp/flight/pull/99/commits/d0c4a42a5f39efec7f1074cc1e8cb1a13de6b544 has all of the .svg's in a top level folder

we should have the npm of @hashicorp/flight-icons be committed to the repo for clarity

[2021-08-24 23:38] amyrlam opened #108 "Placeholder "quest issue" to have ember-flight-icons consume flight-icons"
making an issue out of https://github.com/hashicorp/flight/pull/99, which is kinda moot rn as the icons have been updated

my ember discord post: https://discord.com/channels/480462759797063690/483601670685720591/879559675421532190

//

this didn't work for me, but then tried ember-auto-import (still in progress)

//

Couple of ideas:

1. Have a build step in the project that relies on dist folder

[2021-08-25 12:58] #54 closed

[2021-08-25 15:23] amyrlam opened #110 "Update tests for one source of truth"
Have the test comment and name be combined. Then when a test fails, it's more clear what it is, the test can be renamed as needed. Making a ticket off of https://github.com/hashicorp/flight/pull/103#discussion_r695137663 for tracking cc @MelSumner

[2021-08-25 15:24] amyrlam commented on #90
AL: Make a follow-on PR to https://github.com/hashicorp/boundary-ui/pull/720/files that uses 0.0.4-beta when published

[2021-08-26 15:59] amyrlam opened #115 "Look into release-it for npm releases"
https://github.com/release-it/release-it

@MelSumner uses it here https://github.com/ember-a11y/ember-a11y-refocus/blob/master/RELEASE.md

[2021-08-26 19:15] #25 closed, assigned to nobody

[2021-08-27 15:25] Dhaulagiri opened #117 "Document design guidelines"
### Todo
- [x] Move documentation from Figma to the microsite
- [x] Clean up design docs #170 @heatherlarsen
  - [x] Re-organize docs into logical sections & clean up bullet formatting (MVP)
  - [x] Add new docs from Figma (MVP)
- [x] Finalize the documentation @dizzyup
- ~~Remove documentation from figma and instead link out to the microsite~~
- ~~Mimic [Figma Docs](https://www.figma.com/file/TLn

[2021-08-28 03:28] amyrlam commented on #17
i'm stumped what i'm doing wrong in cloud-ui. just threw something on venus's calendar to see if she's free monday to pair. was easy as pie in https://github.com/hashicorp/design-system-playground/pull/3

[2021-08-30 15:39] Dhaulagiri opened #120 "Determine how to deal with css overrides that may exist"
Thanks for starting to test this @amyrlam! And good catch @didoo - looks like they are applying strokes to the icons in that section via CSS, so our icon path is gaining the extra stroke which is making it thicker. We're probably going to come up against custom CSS like this quite a bit.

<img width="304" alt="CleanShot 2021-08-27 at 10 53 02@2x" src="https://user-images.githubusercontent.com/7178

[2021-08-30 15:59] Dhaulagiri opened #121 "Create routes for engineering docs vs design docs"
In order to support the ability to surface docs for different consumers (Design/eng), create multiple routes users can click between. We'll then push documentation into those routes in subsequent issues.

[2021-08-30 16:05] amyrlam commented on #84
from standup: change the export-go folder to put the icons in flight-icons/, if we make that change in https://github.com/hashicorp/flight/pull/118

[2021-08-30 18:17] #108 closed

[2021-08-30 18:32] amyrlam opened #123 "Marketing: hashicorp-www-next using @hashicorp/flight-icons"
Follow-up from https://github.com/hashicorp/flight/issues/60, resolve issues on https://github.com/hashicorp/hashicorp-www-next and sync with jmfury / others on that PR

[2021-08-30 18:33] amyrlam opened #124 "Marketing: learn"
Follow-up from #60, get team looped in on Kendall / Brayden's upcoming PR on https://github.com/hashicorp/learn

[2021-08-30 18:34] amyrlam commented on #60
closing this ticket and made https://github.com/hashicorp/flight/issues/123 and https://github.com/hashicorp/flight/issues/124 as follow-ups

[2021-08-30 18:36] amyrlam opened #125 "Publish new packages and test new flow"
Follow-up from https://github.com/hashicorp/flight/pull/118#issuecomment-908574538

[2021-08-30 23:09] #121 closed

[2021-08-30 23:29] Dhaulagiri opened #129 "Determine how we will support repo-local svg consumption in our ember addon"
It is not uncommon for apps to have icons that are not a part of the main icon set: either the icon is so specific as to not make sense to extract into the shared library or the icon is a candidate for addition to the icon set but doesn't exist there yet.

These icons currently work in existing apps by either directly or indirectly (via structure) inlining the svgs via something like ember-svg-jar

[2021-08-31 03:51] amyrlam commented on #90
closing as done. didn't realize that "done" does not close the issue

[2021-08-31 03:51] #90 closed

[2021-08-31 04:32] amyrlam opened #130 "Test ember-flight-icons in Vault"
Amy and Cristiano are meeting with Vault (https://github.com/hashicorp/vault) tomorrow to kick off the process
- Similar to other repos, perhaps propose a few icons swapped out in a PR, and then have our team look at a preview branch for any gotchas

[2021-08-31 13:27] Dhaulagiri commented on #35
Note: The `needs rfc` label was applied due to the implication we might need to update our component's API to support color vs mono experience here, but we should revisit that to figure out if there is a simpler way to solve this.

[2021-08-31 15:55] #110 closed

[2021-08-31 16:42] dizzyup opened #133 "Add icon design examples/usage to Flight docs"
I'll add some more real-world mockups/examples of UI to show how the icons should be used (in terms of size, color etc).

[2021-08-31 17:02] Dhaulagiri commented on #40
@dizzyup is there any other feedback we are waiting on for this one?

[2021-08-31 20:17] amyrlam commented on #124
Here's the PR from Kendall, taking a look at it now and will tag folks there https://github.com/hashicorp/learn/pull/3805

[2021-08-31 20:52] amyrlam opened #137 "Marketing: `learn` with icons that are < 16, how to address"
Brayden will send Amy some stuff, maybe this week, perhaps even in Figma / screenshot as not in the code yet (will come in the code, when they use the api to actually show progress). Relates to: https://github.com/hashicorp/flight/issues/124

Get Hector / team and Brayden discussing when have a shareable example

[2021-08-31 21:18] didoo commented on #24
@dizzyup @Dhaulagiri likely this will be done in the context of #28

[2021-08-31 22:22] didoo commented on #29
@MelSumner also found this today, maybe it's relevant for the discussion above: as you can see icons are used as standalone assets, without textual counterpart or explicit context (apart from the tooltip). in that case do you think a "title" would help here? how would you make these icons more accessible in this case (and others similar)? or the tooltip provides the context?

<img width="1244" alt

[2021-08-31 22:31] didoo commented on #31
In my previous company, what we did was to expose a `data-qa`* attribute/prop as an array of key/values, and convert each one of them to an HTML data-attribute, so that developers could attach any "data-qa" attribute to an element/component (each attribute was prefixed with "data-qa").

We could use a similar approach (but potentially a different naming convention, probably `data-test`?)

_* "qa"

[2021-08-31 22:45] didoo commented on #35
I don't think we should consider these as special cases. It's only because one may think of Flight icons as mono-chromatic, but if instead the assumption is that icons can have explicit/intrinsic/fixed colors (like these) or dynamic/inherited colors (the "mono" ones) then we can make the assumption that even if one tries to assign a colored/third-party icon via inheritance and nothing happens, tha

[2021-08-31 23:02] didoo commented on #60
@amyrlam reading your comment above, this should be closed?

[2021-08-31 23:05] didoo commented on #77
probably can be tackled in #28

[2021-08-31 23:11] didoo commented on #80
100% agree with @dizzyup here: this probably should be a custom/specialized component.
It may consume some assets/icons from the library, but not necessarily (maybe the hexagonal assets are embedded in the component itself, not glyphs in the Flight icon library).
In any case, it should be first explored/discussed by the designers and/or @dizzyup the specs and variants of this UI element, before de

[2021-08-31 23:18] didoo commented on #93
+1 on this, we can even test both the full page of https://flight-staging.vercel.app/ and the single icons for better results (depends on how Percy scripting works; I used a custom solution built on top of Puppeteer for this and worked a charm)

[2021-08-31 23:33] didoo commented on #120
I think we should speak with the team and come up with a shared agreement on how to deal with this.
Some options I see here (but early stage, still to validate/check in reality):
- ask to remove the stroke (at least understand why it's used and in which context, and come up with an alternative, eg. a specific class added to the "old" icons so that they use this style, but not all the icons by defa

[2021-08-31 23:54] amyrlam commented on #60
@didoo yes, closing. i think sometimes tickets are moved to "done" ... and then they are removed from the board, but not closed?

[2021-08-31 23:54] #60 closed

[2021-09-01 00:34] amyrlam commented on #137
@dizzyup @didoo wanted to get the conversation started with @braydenlove (designer) and @kendallstrautman (engineer) from marketing / HashiCorp learn page.

Brayden shared https://www.figma.com/file/UmFXOU5iPm7ioRqyd8j48k/Learn-Design-Spec-2.0?node-id=920%3A60164 which shows some of the smaller icons like the "in progress hover". Wondering how to move forward with these designs given that stylisti

[2021-09-01 00:39] amyrlam commented on #124
- [ ] TODO: update PR https://learn-git-kscard-updates-hashicorp.vercel.app/components?component=Card and https://learn-git-kscard-updates-hashicorp.vercel.app/components?component=MetadataIcon but with right vercel link

[2021-09-01 14:53] braydenlove commented on #137
Happy to fill in any gaps or answer any ?s you might have.

[2021-09-01 16:32] amyrlam commented on #137
hector is chatting with brayden and cris, may be a one-off

[2021-09-01 18:44] amyrlam commented on #123
meeting with @jmfury tomorrow to sync on next steps

[2021-09-01 19:01] amyrlam commented on #17
^^ sorted

- [ ] get the PR ready, then ask for a vercel link
- [ ] from @Dhaulagiri: had talked to matthew, get a ticket on their backlog to see who will implement

[2021-09-01 21:30] amyrlam commented on #123
https://github.com/hashicorp/hashicorp-www-next/pull/2285

[2021-09-01 22:51] amyrlam commented on #84
(not urgent) right now i'm having trouble running the go script, so i can't test moving the folder:

[code]

depends on https://github.com/hashicorp/flight/pull/138 so can revisit next week or beyond!

[2021-09-01 22:53] amyrlam commented on #120
related to / overlaps with https://github.com/hashicorp/flight/issues/123, please see https://github.com/hashicorp/hashicorp-www-next/pull/2267/commits/be4926761898f2645e174a0d63beb0ef88420baa

i'm meeting with jmfury tomorrow to talk about their team executing next steps

[2021-09-02 10:39] didoo commented on #35
After conversation with @dizzyup this morning we have agreed that this ticket becomes the main one about adding also the "3rd party/services" to the Flight Icons library (also, It doesn't need a RFC for this, so I am removing the label).

#20 will be incorporated in this one, so can be closed (also, the mapping is probably 1 to 1 between the old and the new icons).

/cc @Dhaulagiri

[2021-09-02 10:41] didoo commented on #20
Closing this one (see comment in https://github.com/hashicorp/flight/issues/35#issuecomment-911519827)

[2021-09-02 10:41] #20 closed

[2021-09-02 13:53] Dhaulagiri commented on #16
This issue got sidetracked so I will re-open something cleaner if/when this comes back around as a priority

[2021-09-02 13:53] #16 closed

[2021-09-02 15:17] didoo commented on #48
After discussion with @amyrlam we agreed that we can close this ticket. The sprite is never consumed as is, as deliverable/artefact, only inside the ember package (and also this is a temporary workaround until we figure out how to embed directly the folder; see #118)

[2021-09-02 15:17] #48 closed

[2021-09-02 15:20] didoo commented on #84
After discussion with @amyrlam decided to close it, will be tackled in #28 and followup epic.

[2021-09-02 15:20] #84 closed

[2021-09-02 15:20] amyrlam opened #142 "Tweak namespacing"
see this thread: https://github.com/hashicorp/flight/pull/138#discussion_r700678899

[2021-09-02 15:32] #26 closed

[2021-09-02 15:32] #125 closed

[2021-09-02 17:55] amyrlam opened #144 "Verify svgo working as expected"
👍

aaahhh right gotcha, thanks for the info. In that case my first thought here would be maybe 'should'?

Something like that ^ maybe is more or less what we are saying here? Dunno up to you folks.

Yeah for sure, it's super good for us at the moment 👍

I had to double look here as I thought I'd misunderstood which README this was for, we are talking about the README for the icons only package her

[2021-09-02 17:56] Dhaulagiri commented on #144
We can confirm the correct behavior when we re-write the export. It is very possible this isn't actually working right now.

[2021-09-02 19:53] amyrlam commented on #93
Yeah as a first pass how it would work from my past experience is:

- set up testing
- visit url
- percy snapshot the page of all the icons

[2021-09-02 19:54] amyrlam commented on #93
Wanted to add that we could potentially also set this up in `cloud-ui`, which may help us as they decouple structure / their own in-repo design system to migrate to flight icons / new design system. re: https://docs.google.com/document/d/1zd9vvh66uYVCbs90Ncknsp9yyIaQpt35-w_RyfvHWHo/edit?disco=AAAAOsVRXd4

[2021-09-03 01:03] amyrlam commented on #17
the color aspect is most definitely DONE!

brian and amy went to tce guild meeting. moving the "get them to implement" phase to https://github.com/hashicorp/design-systems-team/pull/30 since these tickets have all been a bit murky

[2021-09-03 01:05] amyrlam commented on #123
met with jmfury, seems like will be good to start with getting the svg files that have been dumped into public using flight instead.

going to close this for now since some of the tracking is murky, and work on getting it on marketing's per view with their management next week when i'm back on wednesday. left details here in the meantime: https://github.com/hashicorp/design-systems-team/pull/30

[2021-09-03 01:06] amyrlam commented on #124
moved all the statuses here https://github.com/hashicorp/design-systems-team/pull/30, just dm'd kendall and brayden and i'll sync up with them more next week when i'm back on wed.

[2021-09-03 01:19] amyrlam commented on #137
This can also kinda be folded into https://github.com/hashicorp/design-systems-team/pull/30, depending on how we want to "track" this kind of external stuff cc @didoo

[2021-09-03 13:22] #17 closed

[2021-09-03 13:22] #123 closed

[2021-09-03 13:39] Dhaulagiri opened #148 "Create issue template for icon request triage"
To aid with the instructions in our docs we should create an issue template in GitHub that has prompts for the types of information we are looking for in order to properly triage the request

[2021-09-03 14:22] Dhaulagiri commented on #85
For the purposes of _Flight_ I'm going to consider this complete as I think stating we intend to follow SemVer is adequate for now. We'll circle back on the larger effort as time allows.

[2021-09-03 14:22] #85 closed

[2021-09-03 16:13] MelSumner opened #150 "bug: update css classes to avoid potential naming collisions"
Not all of the css classes in the flight icon are prefixed properly which may cause situations that result in naming collisions.

To fix,
- [x] update the classes on the SVGs with flight- prefix.
- [x] update the component styles
- [x] update the documentation
- [x] make sure the tests still pass

[2021-09-03 17:41] MelSumner commented on #29
@didoo in these cases, the tooltip and/or button/link would provide the context.

[2021-09-03 17:52] #148 closed

[2021-09-03 18:51] #27 closed

[2021-09-03 18:52] #102 closed

[2021-09-03 20:59] Dhaulagiri commented on #93
This would make more sense for us to consider once we solidify our approach to documentation as any setup work we did now would need to be redone for that.

[2021-09-07 09:11] didoo commented on #120
@amyrlam what was the outcome of the meeting? something that we have to do on our side? or they'll fix it on their?

[2021-09-07 10:53] didoo commented on #144
@amyrlam @Dhaulagiri yes, this will be tackled anyway in the Node version of the export script

[2021-09-07 10:54] didoo commented on #142
@amyrlam this is now a point of discussion in #28, so probably we can close this one

[2021-09-07 11:25] didoo opened #155 "Export script (Node version) - Syncing"
#### Description
This is the first part (the "syncing") of the new Node.js version of the "Figma to Flight" export script.
What it does is to download the SVG assets in a specific folder, overriding the default file names (Figma uses the variant name for it, and that would be `Size=16` or `Size=24`)

#### Expected logic
This is an outline of what we intend to implement

[code]

#### Things to cons

[2021-09-08 17:20] amyrlam commented on #120
@didoo marketing fixed it here https://github.com/hashicorp/hashicorp-www-next/pull/2285. we still need to get https://github.com/hashicorp/hashicorp-www-next/pull/2267 on marketing's project management radar

i made a new asana ticket to split up marketing, since they'll be different project management tickets in their external asana/jira's. i think that this could be closed and can instead track

[2021-09-08 17:21] #120 closed

[2021-09-08 17:23] amyrlam commented on #142
sure, sgtm

[2021-09-08 17:23] #142 closed

[2021-09-08 20:14] didoo commented on #120
@amyrlam OK for me

[2021-09-08 20:24] didoo opened #161 "Export script (Node version) - Setup"
Extracted this task from #155 so can be reviewed independently (and potentially merge in master if approved, since it doesn't have any overlapping with the existing code).

The task is about the initial setup of the Node export script in terms of TypeScript, eslint, maybe even prettier (TBD).

[2021-09-08 22:41] amyrlam commented on #130
Moving to https://app.asana.com/0/1200639100898494/1200915812978041 so just one ticket to track and working on this now!

[2021-09-08 22:41] #130 closed

[2021-09-09 00:58] Dhaulagiri opened #165 "Implement header redesign"
<img width="1085" alt="Screen Shot 2021-09-08 at 19 58 28" src="https://user-images.githubusercontent.com/1672302/132604919-c08747d3-d998-4853-b544-03362f328de6.png">

[2021-09-09 00:59] Dhaulagiri opened #166 "Implement icon card redesign"
<img width="189" alt="Screen Shot 2021-09-08 at 19 58 52" src="https://user-images.githubusercontent.com/1672302/132604956-ac6826b4-1380-46db-a48b-7d95a30787f9.png">

Note: clipboard icon and functionality should be considered a separate piece of work

[2021-09-09 01:00] Dhaulagiri opened #167 "Implement new hero section redesign"
<img width="1021" alt="Screen Shot 2021-09-08 at 19 59 43" src="https://user-images.githubusercontent.com/1672302/132605022-0fba5cc5-9ded-4c05-a0e4-d905573b7dc3.png">

[2021-09-09 01:01] Dhaulagiri opened #168 "Implement search box redesign"
<img width="853" alt="Screen Shot 2021-09-08 at 20 00 31" src="https://user-images.githubusercontent.com/1672302/132605085-4f8c6bf3-83ff-4ea5-909e-664d8f0aaa9a.png">

[2021-09-09 01:04] Dhaulagiri opened #169 "Implement new icon size toggle functionality"
<img width="1025" alt="Screen Shot 2021-09-08 at 20 01 17" src="https://user-images.githubusercontent.com/1672302/132605155-b540b7b3-a083-4e3f-8e92-69b5a3e16061.png">

Provided this design is reasonably straightforward to implement, toggling the button should switch between rendering 16px and 24px icons.

[2021-09-09 09:57] didoo opened #171 "Export script (Node version) - Building"
#### Description
This is the second part (the "building", or "bundling"?) of the new Node.js version of the "Figma to Flight" export script.
What it does is to take the exported assets, process them, and generate multiple "bundles" in different formats (eg. standalone SVGs, a single SVG sprite, an Ember Addon, SVGs embedded as base64 in a CSS/Sass file). These bundles will be then used in the "rel

[2021-09-09 13:56] #155 closed

[2021-09-09 13:56] #161 closed

[2021-09-09 14:46] MelSumner commented on #150
Removed release task, this will be added when we do the next release. Closing issue.

[2021-09-09 14:46] #150 closed

[2021-09-09 15:00] MelSumner opened #172 "Import colors from :root into tailwind config"
We'll need to extend the tailwind config to include our colors from :root.
This is so we can replace their color classes more easily with our own.

See https://tailwindcss.com/docs/customizing-colors#custom-colors for instructions.

[2021-09-09 16:31] heatherlarsen opened #175 "Move Design Contributing to Design Docs"
Still catching up, looks like this was all brought in as part of https://github.com/hashicorp/flight/pull/157/files except for this section "How to contribute a new icon in Figma (HashiCorp staff only)" do you still want to merge that part in? @heatherlarsen @MelSumner

_Originally posted by @amyrlam in https://github.com/hashicorp/flight/pull/147#discussion_r704821123_

Need to move Design Contri

[2021-09-09 17:10] Dhaulagiri commented on #172
Closed by https://github.com/hashicorp/flight/pull/173

[2021-09-09 17:15] #40 closed

[2021-09-09 17:21] Dhaulagiri opened #176 "update docs to read new catalog.json format"
As part of the export work the format of catalog.json will be changing. We need to update the docs site to

- [x]  read this format instead (and if the format isn't working feed that back into the export work @didoo is doing)
- [x] Search also on the values in `description`

[code]

**Note: We can open a PR validating this without but wait to merge it until the export is finished**

[2021-09-09 17:39] didoo commented on #176
@Dhaulagiri it may be that we need to include the new assets (otherwise the catalog will be out of sync with the SVGs in the repo)

[2021-09-10 12:04] didoo commented on #176
now that #183 has been merged, this one is ready to be picked up (probably @MelSumner next week?)

[2021-09-10 13:12] Dhaulagiri commented on #176
See #179

[2021-09-10 16:27] #176 closed

[2021-09-10 19:27] didoo opened #185 "Fix how colored icons are shown in the miniwebsite"
In #179 we've added the newly generated SVGs to the mini-website. They now contain also the colored icons, but for some reasons the mini website is using the mono icons also for the colored ones. See screenshot below:

<img width="1792" alt="screenshot_67" src="https://user-images.githubusercontent.com/686239/132906962-fe0938a3-f8ac-4907-ada4-cd5c658eb0bd.png">

[2021-09-10 19:34] Dhaulagiri commented on #185
The reason this is happening is because the ember component is being passed the [icon name](https://github.com/hashicorp/flight/blob/823a3580ca20dcd417765b7aa3b653fc0871f2a4/src/flight-icons-exported/catalog.json#L7575) which in this case is `slack` and then it appends the size on depending on the `size` property that is passed in.

@didoo would it make sense to have the `iconName` in these cases

[2021-09-10 19:36] didoo commented on #185
@Dhaulagiri if you look in the `catalog.json` file, you will see that I have differentiated between the `iconName` (in case of one of the services, eg. `aws`) and the `fileName` (in that case, is something like `aws-color-16`)

you should use the file name for the SVG and the icon name for the display in the UI

[2021-09-10 19:42] didoo commented on #185
<img width="1097" alt="screenshot_68" src="https://user-images.githubusercontent.com/686239/132908642-e7bc6c54-4cbd-4c9f-bb88-20950e6d687a.png">

[2021-09-10 19:48] didoo commented on #185
@Dhaulagiri which means that in the code (until we decide how to handle this `mono/color` difference) you have to parse the file name via regex and remove the `/(.*)(-\d{2})$/` part

/cc @MelSumner

[2021-09-10 20:52] amyrlam commented on #133
In Asana now so let's track it there instead (trying to de-confuse for myself): https://app.asana.com/0/1200639100898494/1200928001000710

[2021-09-10 20:52] #133 closed

[2021-09-13 10:48] didoo opened #188 "Export script (Node version) - Releasing"
#### Description
This is the last part (the "releasing") of the new Node.js version of the "Figma to Flight" export script.
What it does is to take the bundles generated in the "build" step in different formats, prepare them as NPM packages and release them to the registry.

The Ember Addon instead will be released following the standard process in Ember (but we'll try to find a way to automate al

[2021-09-13 10:58] didoo commented on #185
@Dhaulagiri after discussion with @dizzyup, we've agreed to "fix" this on the Figma side, so we will have two different "icons"  for the same service/entity:

<img width="894" alt="screenshot_71" src="https://user-images.githubusercontent.com/686239/133072171-62bf748c-1b11-4611-a2ff-1718022e7c0e.png">

this should automatically fix the issue above. let me do the changes and then we can come back t

[2021-09-13 14:15] amyrlam commented on #29
notes from the meeting with @didoo @junyper:
- https://design-system.w3.org/styles/svg-icons.html#svg-accessibility
- approach in react: https://github.com/instructure/instructure-ui/blob/master/packages/ui-svg-images/src/InlineSVG/index.tsx
- current implementation

[2021-09-13 14:44] didoo commented on #29
After meeting and discussion with @amyrlam and @junyper today, we have agreed to implement these changes for the 1.0 release of the Flight icons, because this is a blocker for them, for their adoption of the icons (they have multiple places where the icon is not just presentational).

What we have agreed is:
- to have an extra `title` prop added to the Ember addon component.
- if the `title` prop

[2021-09-14 07:49] didoo opened #194 "Update figma-export dependency"
Now that the version 3.4.0 of `figma-export` has been released, we can finally remove the reference to a custom built version of the NPM packages.

see: https://github.com/marcomontalbano/figma-export/issues/92#issuecomment-918885553

[2021-09-14 10:44] didoo opened #197 "Generation of the CSS/SCSS files"
@johncowen as discussed yesterday with you and @amyrlam, I have committed a first draft of the function that generates the CSS/SCSS files with Flight Icons embedded as `data:image` elements (as already mentioned, this is to facilitate the adoption of the icon set in Consul, but expect in the future to have possible alternative/preferred ways to consume them)

You can see the function in the PR #19

[2021-09-14 10:53] #194 closed

[2021-09-14 11:37] #185 closed

[2021-09-14 12:58] didoo opened #198 "Update Ember Addon to inline the SVG sprite and not reference it as external resource"
There is an issue with using the SVG sprite as external resource:

[code]
vs instead inlining the SVG sprite in the page and then referencing it via its ID:

[code]

When used in the first way, the "definitions" in the sprite are not considered (see couple of links at the bottom).

This means that the gradients applied to the icons are not rendered in the Ember addon (that's why we have the issue

[2021-09-14 14:21] heatherlarsen commented on #175
Is this one good to be closed with the updates from #187?

[2021-09-14 14:36] heatherlarsen commented on #168
Design iteration based on feedback:
<img width="863" alt="form-input-example" src="https://user-images.githubusercontent.com/8553306/133277905-a0932044-6923-41a2-865c-2f38b768f457.png">

[2021-09-14 14:39] heatherlarsen commented on #167
Design iteration to align to microsite & update Design icon
<img width="1016" alt="hero" src="https://user-images.githubusercontent.com/8553306/133278520-2e043f1a-6df2-461b-aa48-0c91cdb8b7a9.png">

[2021-09-14 14:43] heatherlarsen commented on #117
Decided to leave documentation in Figma to better aid Designers during the creation process. We've agreed to make it a part of the process that when one source gets update, so does the other. This is likely just to be necessary for Flight icons and not future components. @Dhaulagiri @dizzyup

[2021-09-14 15:16] didoo opened #200 "Ember addon <SVG> - fill vs style"
In the new Node pipeline I have moved the "currentColor" declaration from the <SVG> node directly in the <path> nodes (see #196). The reason for this is that now we don't "build" anymore the SVGs via script, we download directly from
Figma, and Figma of course doesn't provide the `fill` in the <SVG> node. To have that, would have meant to do SVG manipulation, which I decided to avoid because:
- it

[2021-09-14 15:37] meirish commented on #200
Using inline style is disallowed for HCP's Content-Security-Policy (and I think for Vault's as well?), so I don't think `style` will work for those apps.

[2021-09-14 15:38] amyrlam commented on #175
yes it's there https://flight-git-melsumner-design-docs-hashicorp.vercel.app/design#h2-contributing, closing!

[2021-09-14 15:38] #175 closed

[2021-09-14 15:42] meirish commented on #200
Oops forgot to link https://github.com/jelhan/ember-style-modifier - we could use that in the ember addon to apply styles in a CSP-safe fashion, in the provided component, but I'm not sure if there are other considerations.

[2021-09-14 16:03] MelSumner commented on #200
Ember will also throw an error if you use inline styles.

[2021-09-14 16:20] MelSumner commented on #169
Resolved with #182  and #199

[2021-09-14 16:20] #169 closed

[2021-09-14 16:21] MelSumner commented on #198
I can try it but we have already been told that caching is not an issue, because most product consumers have to run the entire app locally anyway (or something like that).

[2021-09-14 16:25] didoo commented on #198
@MelSumner so if caching is not an issue, let's have the SVG embedded in the page (don't know how to do it in Ember, otherwise I would have opened a PR)

[2021-09-14 16:35] Dhaulagiri commented on #198
FWIW I ran into issues with the sprite being cached testing docs changes yesterday. I had to clear my cache in order to see the changes I made to the sprite reflected between builds. This should be a solvable problem, though.

[2021-09-14 16:45] didoo commented on #198
@MelSumner just to clarify: when you say "caching is not an issue" you mean size of the file is not an issue, or stale cache is not an issue?

[2021-09-14 17:17] didoo commented on #197
After meeting and discussion with @amyrlam and @johncowen, the decision was that he prefers to have a single point of control for the assets, so he will use the custom script he developer in https://github.com/johncowen/iris/pull/1/files

We will then remove the CSS generation from the assets pipeline (will be extremely easy to rebuild it, or look at the git history to revert the changes).

[2021-09-14 17:17] #197 closed

[2021-09-14 17:49] johncowen commented on #197
Just to add here I would much rather use something from the design team, but also I don't want to have to maintain another script for the icons we only use in Consul. Ideally we would just use the script made for this issue and ditch the stuff I cobbled together a while ago. Otherwise we will have to keep syncing any differences between the 2 scripts to keep the output of flight and custom icons t

[2021-09-14 18:04] heatherlarsen commented on #166
Including states:
<img width="188" alt="icon-card-example" src="https://user-images.githubusercontent.com/8553306/133309966-29aa4763-7b43-4042-a139-9e34e73bc8dd.png">

There are some accessibility concerns/considerations we need to make in regards to the copy icon only being displayed on hover, which will need further discussion with @MelSumner and @dizzyup.

[2021-09-14 18:05] heatherlarsen commented on #165
Design iteration based on feedback:
<img width="1446" alt="header-desktop" src="https://user-images.githubusercontent.com/8553306/133310361-a0d3ab3b-b343-4c6b-9bb1-a4bf15a7b286.png">

[2021-09-14 18:11] MelSumner commented on #200
I can work around this change but if we could have an `isFullColor` property from the Figma API that would be nicer/easier.

[2021-09-14 18:29] didoo commented on #200
@MelSumner can you expand on this? I don't follow/understand

[2021-09-14 18:41] amyrlam commented on #198
- The original idea with a sprite was that it would be cached on AWS CDN or similar, with a very long TTL, and purged when we bumped the version. Since some apps like Nomad are self-hosted on the customer, everything is packaged up on their own servers, they would not be able to access a file cached externally on AWS.
- The browser caching that @Dhaulagiri is a different caching issue that we shou

[2021-09-14 18:54] Dhaulagiri commented on #117
👍  I think we can close this issue

[2021-09-14 18:56] Dhaulagiri commented on #35
Closed by https://github.com/hashicorp/flight/pull/164

[2021-09-14 18:56] #35 closed

[2021-09-14 18:56] Dhaulagiri commented on #24
Closed by https://github.com/hashicorp/flight/pull/164

[2021-09-14 18:56] #24 closed

[2021-09-14 19:03] heatherlarsen commented on #117
@Dhaulagiri I was actually going to use this for the updates that need to be made once @MelSumner merges #170. @dizzyup also has more design docs he's working on in Figma to beef up some of the content. Do you want me to create new issues for those?

[2021-09-14 19:06] MelSumner opened #202 "Internal: refactor toggle button on docs site"
The toggle button on the docs site could be refactored to be a bit cleaner.

Try to implement a refactor and see if it improves the code.

- [ ] remove extra selectors in CSS
- [ ] [from code review](https://github.com/hashicorp/flight/pull/170#discussion_r708100675): as I understand, there is only the declaration above for ds-toggle-16 so in that case you may remove the extra class in the selecto

[2021-09-14 19:14] MelSumner commented on #200
@didoo:
appending `-color` to the name of the icon is going to prevent users from setting a fill, so I was thinking I could conditionally support the `@color` property by doing this:
- check to see if the name of the icon (`this.args.name`) includes '-color'
- if it does, don't include the `fill` attribute on the component
- maybe give an error message that the `@color` can't be set on a full-colo

[2021-09-14 19:16] MelSumner opened #203 "Internal: tidy up CSS for docs site"
The CSS in the docs site is a little bit messy for a couple of reasons:

1. we intentionally decided to not decide what kind of CSS to do
2. we then decided to use Tailwind on the docs site

So we need to clean up the CSS.

- [ ] reduce all of the specifications to only use the `.ds-` classes
- [ ] convert non-tailwind css to tailwind css (for consistency, where possible)
- [ ] sort the properties

[2021-09-14 19:23] MelSumner opened #204 "Docs: add additional examples of icon use"
Right now the docs are focused mostly on using the Ember component, assuming that anyone who wants to use the SVG itself is already well-versed in how to do that.

- [ ] Improve the dummy/app/templates/engineering.hbs file to include more examples of use cases.
- [ ] Any use case that we want to show users how to do correctly but don't actively support should have an extra note about that.

[2021-09-14 20:04] MelSumner opened #205 "Internal: rename nav component in dummy app"
The dummy app component, `dummy-nav` was named before we decided to prefix things with `ds-`. Rename the component so it is consistent with the rest of the app.

[2021-09-14 20:06] MelSumner opened #206 "Documentation: Add sidebar for easier navigation"
As per the design comp, add a sidebar to the design and engineering pages for easier navigation.

![image](https://user-images.githubusercontent.com/4587451/133326285-99df155f-39f0-4bbb-98b7-6c5112d5b6df.png)

[2021-09-14 20:18] MelSumner commented on #115
@Dhaulagiri @didoo I think we should integrate this into the Ember addon. It takes care of some of the otherwise manual (and therefore subject to potential error) stuff out of the way.

[2021-09-14 20:32] didoo commented on #197
Sure! I have attached the files:
[Archive.zip](https://github.com/hashicorp/flight/files/7164978/Archive.zip)

[2021-09-14 20:35] #165 closed

[2021-09-14 20:35] #166 closed

[2021-09-14 20:35] #167 closed

[2021-09-14 20:35] #168 closed

[2021-09-14 20:37] MelSumner opened #207 "Internal: jquery test scenario not passing"
jquery is still a test scenario in ember-try. It's currently not passing. We should figure out how to make it happy or remove it from the test scenario list.

[2021-09-14 20:37] Dhaulagiri commented on #207
Is there a specific point at which it stopped passing?

[2021-09-14 20:52] #171 closed

[2021-09-14 21:04] Dhaulagiri commented on #207
It looks like something with the docs changes has introduced some [flakiness in our tests](https://github.com/hashicorp/flight/pull/208/checks?check_run_id=3603559453)

[2021-09-14 21:07] didoo commented on #200
don't understand, why? the `-color` part at this point is just part of an icon name/file, not anymore an attribute/prop

if there is no "simple" way to have the paths inside the SVG inherit the color via currentColor, then I prefer to fix it on the Node side (but this means treat differently the SVGs for Ember and the standalone SVGs, which is another "special case" to handle).

From what I've see

[2021-09-14 21:11] didoo commented on #115
@MelSumner yes, I was looking into Lerna as possible solution to release multiple packages at the same time. I'll add `release-it` to the list of things to look into with @amyrlam in the context of the "release" step of the Node script.

[2021-09-14 21:19] didoo commented on #28
Closing this one because most of the open questions have been figured out, and with #171 we have more or less finalized the folder structure.

[2021-09-14 21:19] #28 closed

[2021-09-14 22:36] amyrlam commented on #207
I also saw ember-release fail here: https://github.com/hashicorp/flight/pull/210

It should be solved by this https://github.com/hashicorp/flight/pull/209#discussion_r708645146, I may quickly try Percy today (and timebox) cause may be a better test anyways? Please LMK if I am missing something

[2021-09-15 00:03] amyrlam commented on #77
Can also be cross-checked with https://github.com/hashicorp/flight/pull/211

[2021-09-15 00:10] MelSumner commented on #207
I started noticing the flakiness after hooking up the toggle this morning. I might have inadvertently introduced a race condition, will need to track it down more.

[2021-09-15 00:10] amyrlam commented on #29
The comments about the React marketing site (https://github.com/hashicorp/flight/issues/29#issuecomment-895487451) is separate issue as they are using the raw .svg's from @hashicorp/flight-icons, not @hashicorp/ember-flight-icons. I think we can extract that out more to the general idea that was mentioned even today, where the marketing folks are looking for a11y help, outside of the design system

[2021-09-15 00:59] #93 closed

[2021-09-15 01:10] amyrlam commented on #207
This should be solved as I removed `assert.dom('[data-test-target="icon-grid"] [data-test-icon]').exists();` which wasn't in the DOM https://github.com/hashicorp/flight/pull/209#discussion_r708645146. Removed as a part of the Percy test replacement https://github.com/hashicorp/flight/pull/211. It was that test failing thruout the various scenarios.

Please reopen if you see again though!

[2021-09-15 01:18] amyrlam opened #213 "Investigate linting in GitHub Actions CI"
Not urgent but just noting as something nice to have

- Is linting running as expected? Didn't seem to be failing this week on weird .hbs formatting
- Add Prettier? Is here https://github.com/hashicorp/flight/pull/221/checks?check_run_id=3615666388 but check if beyond ember-flight-icons child folder, if desired
- Look into pre-commit hooks, Husky? There was a comment about this

[2021-09-15 09:08] didoo commented on #77
@amyrlam what you mean? there is already a check in place here: https://github.com/hashicorp/flight/blob/73ec29b468e07ffb828a635a8e36633cd38f3cc5/flight-icons/scripts/sync.ts#L58, how Percy would check?

[2021-09-15 10:13] didoo commented on #200
This will be fixed in #215

[2021-09-15 10:16] MelSumner commented on #198
We did also try this the streamlined way, but it wasn't working properly when we put it into apps. In the end we're more like giving it an abs path rather than calling an external resource, aren't we? Maybe I am missing something.

[2021-09-15 10:17] didoo commented on #200
For the sake of argument, how would you build a web color picker in Ember that satisfies the CSP? Probably is not possible, right?

[2021-09-15 10:42] didoo opened #217 "Proposal: change folder structure/organization of the "app" for the Ember addon in Flight"
This is a proposal based on a general feeling that something is off in how we have organized and how we're using the `/tests/dummy/app` in the `ember-flight-icons` folder of the repository.

At the moment the "test/dummy" app is not dummy at all, and is not just for testing: it's the mini-website that we use to publish and document the Flight icons set. But now we use it also with Percy (#211). It

[2021-09-15 11:02] #205 closed

[2021-09-15 11:05] MelSumner commented on #217
I agree with you that in the context of the whole design system it doesn't make sense to leave it there.

- I see this as a temporary state, and only until we decide on a name for the design system.
- Once we do, I see us creating hcds-website (or something like that) as a repo, and moving the content there.
- We can re-direct the URL to get to the correct place

[2021-09-15 13:20] Dhaulagiri commented on #207
I don't think this is actually solved as we are simply masking the problem by not testing for it now. We haven't actually solved the underlying issue with there being some unpredictable delay in how quickly the sprite gets loaded. Perhaps that's will be a moot point though if we need to change how the sprite is loaded for https://github.com/hashicorp/flight/issues/198

[2021-09-15 14:13] Dhaulagiri commented on #144
Closed by https://github.com/hashicorp/flight/pull/196

[2021-09-15 14:13] #144 closed

[2021-09-15 14:48] amyrlam commented on #77
sounds good, let's mark it done! just discussed IRL

[2021-09-15 14:48] #77 closed

[2021-09-15 14:54] amyrlam commented on #207
ok, this relates to https://github.com/hashicorp/flight/pull/209#discussion_r709262671 cause the only test failing was cause of the DOM thing? let me reopen and track that work here

[2021-09-15 14:58] #203 closed

[2021-09-15 16:10] amyrlam commented on #115
synced with didoo. i am going to give release-it a spin now, and cristiano will check out lerna

[2021-09-15 19:11] amyrlam commented on #200
Just noting to help with all the project management things, I think https://github.com/hashicorp/flight/pull/215 could have said `Resolves: <this issue url>` to close this issue, we can close it now?

Don't have enough context on color pickers in Ember yet to answer that question. But I would look at Ember Observer for any Ember addons https://emberobserver.com/?query=color%20picker. A lot of Embe

[2021-09-15 19:28] amyrlam commented on #207
i'll wait for https://github.com/hashicorp/flight/issues/31 to land

[2021-09-15 19:50] didoo commented on #200
Yes, closing it.

[2021-09-15 19:50] #200 closed

[2021-09-16 12:28] #207 closed

[2021-09-16 13:54] didoo commented on #188
After a pair session with @amyrlam in which we have discussed what possible strategies to adopt for the "release" step of the new Node export script, we have agreed:

- to simplify the folder structure and location of the package.json files for the `flight-icons` folder: now the `dist` folder will contain only the SVG files in a `svg` folder and the `catalog.json` file; if in the future we will ne

[2021-09-16 14:27] Dhaulagiri commented on #188
If this is a concern I would propose that we could release a package with the icons and a separate package with the sprite and completely separate the ember addon's direct tie into the icon release process. It would be a consumer of `flight-icons-svg` or whatever and the version number of the addon can progress independent of the icon set itself.

Playing devil's advocate, my impression from readi

[2021-09-16 17:23] MelSumner commented on #188
My first thought was - I didn't think that releasing things would get this complex, but maybe having a design system in a monorepo will require this sort of complexity. That is a specific combination that I have not experienced before now- I am used to a single design but multiple packages.

Following the logic through, I think if we know we will need things things (soon-ish), it's good to figure

[2021-09-16 17:34] didoo commented on #188
But that's what I was doing before and was not approved! :) Hence I removed all the recent simplifications of the pipeline.
In any case, the problem persists: you still have to do a *release* of the `ember-flight-icons` bundle when the `flight-icons` version is updated in the `package.json` file. Re. the independent progression, that's not a problem per se.
Update: after discussion, I understand w

[2021-09-16 18:23] #31 closed

[2021-09-16 18:27] Dhaulagiri opened #226 "Sprite loading performance"
We currently embed the sprite into the ember addon which is convenient, but has a side effect of introducing a situation where the sprite is not loaded until after the app loads. See below:

<img width="954" alt="Screen Shot 2021-09-16 at 13 25 03" src="https://user-images.githubusercontent.com/1672302/133665170-e4dcbca4-cd20-4cac-9b38-d280023fc7b0.png">

In practice this means that icons can't lo

[2021-09-16 19:53] amyrlam commented on #226
Adding some notes for context of things we could try
- https://vercel.com/docs/edge-network/caching#static-files
  - Doesn't seem like browser cache is an issue. Should confirm if .svg is considered a "static file", can find out
  - Doesn't seem like purging the cache is an issue, persisting if it doesn't change sounds good?
- Add svg as extension here https://cli.emberjs.com/release/advanced-use/

[2021-09-16 20:45] #29 closed

[2021-09-16 21:01] Dhaulagiri commented on #226
Caching/fingerprinting could help it load faster once it's requested but my current impression is that it's more an order of operations issue since the browser doesn't even know to start loading it until the app/vendor bundle loads and gets processed.

[2021-09-16 21:05] jgwhite opened #228 "Docs site icon search field misbehaves on Safari"
As you’ll see in the video, as I type the input is erased and replaced with the last typed character (and the cursor position is reset).

https://user-images.githubusercontent.com/34030/133685405-ad1882c3-93c2-4662-9a8c-f50299978ced.mp4

[2021-09-16 21:20] amyrlam commented on #115
It seems safe to close this as took a different approach in https://github.com/hashicorp/flight/pull/225. Let's have Melanie, Cristiano, or Brian do the next npm release to test our process.

BTW if I'm incorrectly closing, feel free to reopen the issue!

[2021-09-16 21:20] #115 closed

[2021-09-16 21:23] amyrlam commented on #226
^^ makes sense

I was mentioning that related to this comment re: browser caching: https://github.com/hashicorp/flight/issues/198#issuecomment-919319163

[2021-09-16 21:28] amyrlam commented on #228
Thanks for filing, I can repro.

FWIW Firefox looks good.

I can take a look later today, or if you prefer to investigate @MelSumner please let me know!

[2021-09-16 21:58] amyrlam opened #231 "Add a Percy test for a single icon, multiple cases"
From conversation with @didoo, add a route with no navigation to it e.g. /percy. Just making the ticket to work in the open, isn't super high priority.

Testing the overall page is good, but if we add an icon, the Percy diff won't be that impactful.

Test the look of a single icon there, with multiple cases:
- normal
- with parent color, also consider !important (hopefully don't have to use !impor

[2021-09-16 22:03] jgwhite commented on #228
Chrome appears fine too, albeit with a curious behavior when trying to jump to the beginning/end of the value.

https://user-images.githubusercontent.com/34030/133691669-e6345875-b825-479b-8919-7fa7812d8bc5.mp4

[2021-09-16 22:07] didoo commented on #231
@amyrlam copypasting from #217

- icon with standard size(s)
- icon with custom size
- icon with color unspecified (so currentColor)
- icon with color unspecified (so currentColor) + parent with custom color (to check inheritance)
- icon with custom color specified via prop
- icon with custom color specified via prop + parent with "color !important" declared (to check overrides)

[2021-09-17 02:15] amyrlam commented on #228
Tricky one! Not sure _yet_ why the `event.target.value` is always overwritten by the most recent character typed in the input in Safari.

[2021-09-17 15:29] amyrlam commented on #228
Talked to @MelSumner on Slack, she'll take this ticket and I'll take https://github.com/hashicorp/flight/issues/226, they both seem higher priority than other things rn

[2021-09-17 15:38] #231 closed

[2021-09-17 16:37] MelSumner opened #237 "Enhancement: dark mode"
A nice enhancement could be to add [dark mode](https://tailwindcss.com/docs/dark-mode) for the docs site.

[2021-09-17 17:03] didoo commented on #226
let's not forget to do also cache busting @amyrlam @Dhaulagiri @MelSumner

[2021-09-17 18:27] didoo opened #238 "Flight Icons Website: Add search criteria to query params in URL"
At the moment is not possible to share one particular icon (or search) with someone else using the micro-website page. This is actually very useful, and will become a very common use case/need.

I don't know how much is complex to do in the existing Ember app, but would be great if we could update the `window.history` path while the user types, and add the search text in the URL as query parameter

[2021-09-17 18:36] didoo opened #239 "Flight Icons Website: add "favicon" and "og:card""
Would be nice to add to the website:
- a favicon
- an `og:image`

[2021-09-17 18:43] amyrlam commented on #226
@didoo From the vercel docs, we don't need to CDN cache bust https://vercel.com/docs/edge-network/caching#static-files it's purged on its own if the file has changed

![image](https://user-images.githubusercontent.com/1372946/133838183-fb4cb06f-174b-4880-aad4-368968789536.png)

That being said I think fingerprinting the sprite and catalog sounds good to do anyways, is a very quick change I will do

[2021-09-17 18:48] Dhaulagiri commented on #226
To clarify: I'm less concerned with the performance in Vercel than I am in apps that consume the addon.

[2021-09-17 18:56] amyrlam commented on #217
We've sorted the test portion here https://github.com/hashicorp/flight/issues/231  ... it seems very lightweight and no need to spin up a separate app just for that? Happy to iterate on testing as well.

As for the mini-website, eventually icons will need to be embedded in the whole design system. It isn't clear to me if we're moving forward with Storybook or other, but seems like could evaluate t

[2021-09-17 19:11] amyrlam opened #240 "Bump both packages"
- [x] @amyrlam can take another stab at the directions before Monday and tag us all in a PR for review. (https://github.com/hashicorp/flight/pull/242)
  - [x] Add ways to QA the release e.g. submit a PR to boundary for `@hashicorp/flight-icons` and bump in https://github.com/hashicorp/design-system-playground for` @hashicorp/ember-flight-icons`
- [ ] @MelSumner could run the steps on Monday "blind

[2021-09-17 19:12] #188 closed

[2021-09-17 19:59] didoo commented on #240
OK for me

[2021-09-17 20:36] didoo commented on #217
OK, closing it for now.

@amyrlam re. the whole design system website, no decision has been taken yet. This will be a complex decision, with a lot of things to consider, and will require a proper analysis, discussion and evaluation. So, will be done much later (for the "scrappy" version we want to deliver next month or so, very likely we'll use Storybook, but only for the reasons that most of the

[2021-09-17 20:36] #217 closed

[2021-09-17 20:41] didoo commented on #226
Ahh, now I see!

[2021-09-19 03:07] amyrlam commented on #226
Ran out of time to type this out yest:

- The sprite.svg rn is 504 kB from Finder
![image](https://user-images.githubusercontent.com/1372946/133913843-687aaa32-39ab-4eb8-a37a-56fb0bed9699.png)

//

- Check out this branch locally (there's something weird with Vercel builds on `cloud-ui`, must request from meirish rn) https://github.com/hashicorp/cloud-ui/pull/1322
- Clear your browser data (incogn

[2021-09-20 16:10] MelSumner commented on #228
Update:
I thought it was maybe that Safari didn't support the `AbortController` web API. That was a dead end because a polyfill is included in ember-fetch.

I thought I might look at ember-mdi's demo app, since ours is similar. I pulled it up on Safari and noticed that while the live filter works (that one is in a controller not a component, and there is no size toggle), what shows up in the dom i

[2021-09-20 16:18] MelSumner commented on #228
In chrome it's appended:
![image](https://user-images.githubusercontent.com/4587451/134037062-11eb0bd1-a91e-432c-b755-9db70e43c992.png)

Safari it's replaced entirely:
![image](https://user-images.githubusercontent.com/4587451/134037261-fc3afed0-ced8-4e48-9f94-5b2dfab5f0db.png)

[2021-09-20 16:39] didoo commented on #226
@amyrlam as discussed during the planning session today, let's put this in the icebox for now because the issue is minor at this point. we can review the decision later, if we see it's a real issue that has a visible impact on the mini-website (and products) performance

[2021-09-20 16:46] amyrlam commented on #226
sgtm

[2021-09-20 16:49] amyrlam commented on #198
It may make sense for me to look at this issue today, will @ in Slack

[2021-09-20 17:18] didoo commented on #228
@MelSumner I did a quick test and I noticed that if you comment out this
[code]
it works as expected. Can you maybe try to use the old classic `setTimeout` to debounce and see if this strange behaviour disappears?

[2021-09-20 18:50] jgwhite commented on #228
I think this might be a Safari browser bug, check this out:

https://user-images.githubusercontent.com/34030/134057779-6b276c9a-1812-4261-98eb-8a27efc7a03b.mp4

[2021-09-20 19:02] MelSumner commented on #228
@jgwhite lol that's hilarious. I'll make that change. 👍

[2021-09-20 19:05] jgwhite commented on #228
@MelSumner I think the trigger for this browser bug may be a little more subtle than that first video would suggest…

https://user-images.githubusercontent.com/34030/134059812-248981ed-f9fe-40a9-a9f7-8f81d44efc59.mp4

[2021-09-20 19:46] #228 closed

[2021-09-20 21:08] Dhaulagiri commented on #226
After thinking on this some more and playing some other approaches I realized that they also suffered from the same issue and that there wasn't anything particularly actionable we could be doing differently here.

[2021-09-20 21:10] Dhaulagiri commented on #198
@amyrlam and I took a stab at this in https://github.com/hashicorp/flight/pull/245 and found we could confirm the approach solves the issue described here and also works in the docs and in a project like waypoint. Attempts to verify it worked in cloud-ui were unsuccessful but it was hard to verify exactly _why_ due to issues locally link the package under yarn 3. My assumption is that we might hav

[2021-09-21 15:24] heatherlarsen opened #255 "Flight Icon Website: Mobile Responsiveness"
The Flight microsite is mostly responsive, but there are some thing we could do to clean it up, especially as it gets down to mobile sizes (device width <= 639px)

Things that could help improve the UI:
- [ ] Add Left/Right margin
- [ ] Add a fixed "back to top" button in the bottom right corner (Design needed?)
- [ ] Text alignment issues in quick links at the top ("Getting Started for...", etc)

[2021-09-21 15:52] heatherlarsen opened #256 "Design Docs: Add alt to drawing icons"
#241 introduces new design documentation around drawing the icons, which includes images/icons for various dimension values. Since these images/icons aren't purely decorative and do provide value to the user, we need to add alt text.

## Screenshots ##
<img width="735" alt="Screen Shot 2021-09-21 at 10 52 08 AM" src="https://user-images.githubusercontent.com/8553306/134204356-c37b0da6-b395-4306-a2

[2021-09-21 16:42] heatherlarsen opened #257 "Design Docs: Match Figma"
#241 introduces updated design documentation, but one enhancement is to make it match the [Figma docs](https://www.figma.com/file/TLnoT5AYQfy3tZ0H68BgOr/Flight-Icons?node-id=636%3A137) as close as possible.

**List of enhancements**
- [ ] Custom lists (using yes, warning, no icons)
- [ ] Changing our all `<em>` elements to custom tag/badge styles to easier readability
- [ ] Changing dimension list

[2021-09-21 16:48] braydenlove commented on #137
Chatted with Hector and figured that some of our specific use cases will be one-off. We will be using flight as a base but need to pivot based on very particular sizing constraints.

[2021-09-21 16:49] amyrlam commented on #137
synced with @braydenlove, who spoke with @dizzyup
- for icons < 16, use 16
- for icons > 24, use 24
- can have one-off solutions if needed, didn't seem like an issue for brayden and cris's project

it seems like this can be closed and maybe will be fleshed out in the design docs as needed down the road. if i'm wrong please feel free to reopen the issue!

[2021-09-21 16:49] #137 closed

[2021-09-21 17:06] amyrlam opened #258 "Add lint-staged to website/ and ember-flight-icons/"
talked with @didoo and @MelSumner

let's use a pre-push hook instead, that will lint on push

melanie shared https://github.com/okonet/lint-staged which i will look into!

_Originally posted by @amyrlam in https://github.com/hashicorp/flight/pull/233#discussion_r713247573_

[2021-09-21 17:06] #213 closed

[2021-09-21 19:50] amyrlam opened #260 "Look into Sourcegraph batch changes"
For https://www.npmjs.com/package/@hashicorp/flight-icons 0.0.6-beta to 0.0.9-beta, we made a breaking change with the namespacing and I simply forgot to update `learn`, forgetting that they were live with the package (sorry again!)

Also, we should start to get more strict on SemVer, even in beta releases, even though we will be at a 1.0.0 soon.

I manually made this change in `boundary-ui` https

[2021-09-21 20:24] #117 closed

[2021-09-21 23:51] kendallstrautman commented on #260
@amyrlam I added you [to this repo](https://github.com/hashicorp/mktg-sourcegraph-campaigns) where we keep previous batch campaigns that we have run. Could be some useful examples! I used this tool a lot when doing wide sweeping branding updates across all the web properties, specifically with swapping color tokens etc.

[2021-09-21 23:53] kendallstrautman commented on #260
Just added the whole design systems team so they can check it out too

[2021-09-22 03:59] amyrlam commented on #260
@kendallstrautman thank you! I will check this out by the end of the week. It sounds really great

[2021-09-23 09:40] didoo commented on #240
@amyrlam yesterday @MelSumner has bumped the version to _0.0.9-rc_ for `flight-icons` and _0.0.3-rc_ for `ember-flight-icons` so I would consider this task closed. I would prefer to do a second run of release with @Dhaulagiri today, to see his take on the documentation, before making changes to the markdown files (I'll open an issue to discuss the options we have).

[2021-09-23 10:15] didoo opened #265 "How to re-organize the documentation about contribution, development and release of the Flight artefacts"
Yesterday @MelSumner gave some interesting feedback while following the instructions on how to release a new version of `flight-icons` and `ember-flight-icons`: to separate the contribution part and the release part of the documentation, following this example:
- https://github.com/emberjs/ember.js/blob/master/RELEASE.md
- https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md

At the beg

[2021-09-23 10:44] MelSumner commented on #265
1. I agree with moving the release instructions to`RELEASE.md`.
2. I have no preference if there is just one set of release instructions for everything or multiple files with specific instructions, but we should choose a path and stick with that for the rest of our components.
3. Can HashiCorp employees contribute to our code? If so we should have both a `CONTRIBUTING.md` file, telling them how to

[2021-09-23 15:28] amyrlam commented on #240
👍 sgtm

FWIW i think the "terminal UI" will only work if it's `0.0.9-rc.0`

[2021-09-23 16:28] amyrlam commented on #260
@kendallstrautman FWIW I don't think I'm on the account. I got an email from someone at Sourcegraph this morning asking if I should be added to the account. Please feel free to hold off on adding me / Design Systems to the account rn.

I floated this with the Design Systems team today and sounds like we will icebox this for now and potentially look into this later, as we don't have that many consu

[2021-09-23 16:36] #198 closed

[2021-09-23 16:36] amyrlam commented on #240
Product I used to work on uses `2.0.0-beta.0` so seems like `1.0.0-rc.0` would make sense https://docusaurus.io/docs/next

It's confusing that @didoo mentioned the SemVer page using https://semver.org/spec/v1.0.0-beta.html, but then also https://semver.org/spec/v2.0.0-rc.1.html

No preference just adding the context here in case someone goes back to look at this issue!

[2021-09-23 23:53] amyrlam opened #272 "Have sprite give more descriptive href's"
IS:

[code]

and

![image](https://user-images.githubusercontent.com/1372946/134598180-55ea0a27-e71f-46c8-acc5-fbb1d161ab8a.png)

SHOULD BE:

[code]

Proposal:
- Have a more specific namespaced id in sprite generation
  - So that the href won't collide, in the off chance there is same name
  - Arguably more clear to the dev where it's coming from if was `href=#flight-activity-16` or some other nam

[2021-09-24 10:25] didoo commented on #272
@amyrlam great catch, yeah you're absolutely right. It will be fixed in #271.

[2021-09-24 14:25] #272 closed

[2021-09-24 16:23] #226 closed

[2021-09-24 17:47] #265 closed

[2021-09-24 18:29] amyrlam commented on #272
awesome thanks!!

[2021-09-24 18:50] didoo commented on #240
Version 1.0.0 has been released now, so we can close this one.

[2021-09-24 18:50] #240 closed

[2021-09-27 18:46] amyrlam opened #281 "Make mappings of old legacy structure-icons names to new flight-icons names clearer in CONTRIBUTING or where appropriate"
Might want to call this out on the website. I can make a proposal if sounds suitable. Note from the PR:

_Originally posted by @hashishaw in https://github.com/hashicorp/vault/pull/12533#pullrequestreview-764430920_

[2021-09-27 22:57] amyrlam opened #282 "Flight Icon Request: loading and run"
**Outline the use case for the new icon.**
1:1 replacement for existing structure icons

**If there's a similar existing icon, why isn't it a good fit? Please describe.**
Flight doesn't have animated icons rn

**Describe alternatives you've considered.**
N/A

**Additional context**
- Command - F on this page to see the legacy structure icon `loading` that's used in `cloud-ui` production currently:

[2021-09-27 23:23] meirish commented on #282
I _think_ the run icon is used on TFC run states

[2021-09-28 09:54] dizzyup opened #283 "Flight Icon Request: Additional icons for Marketing"
There's a few icons that the marketing web team need to make a full switch to Flight --

**Social icons**
- Facebook
- Twitter
- LinkedIn
- YouTube
- Codepen
- Twitch

I'd propose adding these in the full Services style, ie. proper brand assets with mono and color treatments.

**Additional icons**
- Handshake
- Load Balancer
- Keychain
- Mainframe

These are straightforward enough but will need dr

[2021-09-28 15:29] amyrlam opened #284 "Change ember-test-selectors to peerDependency"
Does flight-icons ship with its own version of `ember-test-selectors`? Maybe a `peerDependency` would be better here to allow apps to specify their own version.

_Originally posted by @meirish in https://github.com/hashicorp/cloud-ui/pull/1428#discussion_r717623327_

[2021-09-28 16:12] amyrlam commented on #284
- Amy can research more on the why and report back https://code-trotter.com/web/dependencies-vs-devdependencies-vs-peerdependencies/#peerdependencies

`cloud-ui` has ^4.0.0 and ^4.0.1 in the mono https://github.com/hashicorp/cloud-ui/search?q=ember-test-selectors

`flight` has ^6.0.0 https://github.com/hashicorp/flight/blob/58a02a88832aaf109996d1fea07c90850816a472/ember-flight-icons/package.json#L

[2021-09-30 19:09] amyrlam opened #285 "Debug Percy issue"
- [ ] @amyrlam send them the debug logs
- TBD next steps

[2021-09-30 20:47] rayelder commented on #283
@dizzyup I've create the 10 marketing icons. By end of day, I'll create a single Figma branch for all 10. Does that sound okay?

[2021-10-04 23:52] rayelder commented on #283
@dizzyup All icons are approved. We decided to use official social icons. The [Add marketing icons](https://www.figma.com/file/MYiw4kiVpunIMMw0sBkE1t/branch/REuSuhh3SbeCNNrIGt2s5D/%E2%9C%8F%EF%B8%8F-Flight-Development?node-id=708%3A1151) branch is up-to-date.

[2021-10-05 14:14] dizzyup commented on #283
Thanks @rayelder! Lovely work.

I've merged the changes in and published an update to the Flight library in Figma. Will work with the team to get packages released here also 👍

[2021-10-05 20:18] amyrlam commented on #258
will move gears to the percy issue was my "side" issue and when start this again, can share a branch if is not working still.

[2021-10-06 16:22] Dhaulagiri commented on #283
Release `@hashicorp/flight-icons-1.1.0` that includes these new icons

[2021-10-13 09:43] dizzyup opened #318 "Flight Icon Request: Services - EKS and EC2"
Needed to support a new selection interface in HCP Consul:

![screen_shot_2021-10-11_at_9 31 12_am](https://user-images.githubusercontent.com/717867/137109140-1cbabded-331b-4360-8d01-766b34f62f42.png)

Planning on adding these at the end of the week.

[2021-10-15 19:36] dizzyup commented on #318
Added in Figma - pending review and release process cc/ @heatherlarsen

[2021-10-15 19:45] Dhaulagiri commented on #318
@dizzyup  do we know who requested these icons?

[2021-10-15 19:47] heatherlarsen commented on #318
@Dhaulagiri Emma Luo for HCP Consul

[2021-10-19 18:29] heatherlarsen commented on #318
Thanks @Dhaulagiri! Emma has been notified via Slack :)

[2021-10-19 18:29] #318 closed, assigned to dizzyup

[2021-10-26 12:03] didoo opened #324 "Export icons in React format"
Following conversation between @Dhaulagiri and the marketing team, we want to update the assets pipeline to generate in output files in React format, to be consumed directly in the codebase as _npm_ imported module.

- Point of contact: **Bryce Kalow** (@BRKalow)
- Existing build script: https://github.com/hashicorp/dev-portal/blob/brk.feat/icon-gen/scripts/generate-icon-components.ts
- Generated

[2021-10-29 18:03] #324 closed

[2021-11-01 14:11] didoo commented on #324
@BRKalow the icons in SVG/React format have been published. please install the package `@hashicorp/flight-icons` (version should be `1.3.0`) and let me know if they work correctly. thanks

[2021-11-03 12:31] didoo opened #327 "Add "liquid" size to the `ember-flight-icon` addon"
In the new Badge component the icon size for the `type=small` variant is `12px`.

<img width="782" alt="screenshot_297" src="https://user-images.githubusercontent.com/686239/140060337-60cd967f-f388-437c-b40d-05f0a5eede22.png">

At the moment our `ember-flight-icon` addon doesn't support this size. We need to introduce a "liquid" size that adapts to the parent container, so we can support also alte

[2021-11-05 19:16] #327 closed

[2021-11-05 19:28] sabrinako opened #330 "Flight Icon Request: HashiCorp products"
**Outline the use case for the new icon.**
Waypoint utilizes the logos of various HC products throughout, and we're in the middle of adopting the Flight icon library.

**If there's a similar existing icon, why isn't it a good fit? Please describe.**
There isn't any HashiCorp product logos 😢

**Additional context**
Notable edge case is the Waypoint logo on the login screen which is larger than the

[2021-11-05 19:32] sabrinako opened #331 "Flight Icon Request: Pack"
**Outline the use case for the new icon.**
Waypoint has a Pack plugin, which any metadata with this plugin has no logo associated with it

**If there's a similar existing icon, why isn't it a good fit? Please describe.**
Currently using the `package` icon in the meantime to fill the empty space. All other operations show a logo (GCP, AWS, Docker, etc) so it'd be nice to have the Pack logo as well

[2021-11-08 18:58] heatherlarsen commented on #330
@sabrinako Thanks for the request. Could you please add a screenshot or link showing the Waypoint edge case you mentioned?

[2021-11-08 19:02] heatherlarsen commented on #331
@sabrinako Can you please attach a screenshot or share a link to the icon the team was using before? And ones with the icon in context? Thanks!

[2021-11-10 20:12] sabrinako commented on #330
<img width="721" alt="Screen Shot 2021-11-10 at 3 12 08 PM" src="https://user-images.githubusercontent.com/60155296/141186416-e56b4e2d-55f6-4bc0-abcd-976c841e2af1.png">
The Waypoint logo in the middle of the screen is the edge case I mentioned!

[2021-11-10 20:20] sabrinako commented on #331
<img width="555" alt="Screen Shot 2021-11-10 at 3 15 30 PM" src="https://user-images.githubusercontent.com/60155296/141186827-097f4086-e395-4e94-a678-fcfeee76d5d2.png">
I actually just realized that the SVG is being pulled from within the Waypoint repo. I might be able to work around this one, so I would recommend prioritizing getting the HashiCorp logo icons

[2021-11-11 09:54] didoo opened #334 "Flight Icon Request: [TEST]"
Can you check if you receive a notification for this new task? Let me know, thanks

[2021-11-11 16:40] heatherlarsen commented on #334
Received :)

[2021-11-12 08:39] didoo commented on #334
Closing this one (it was a test for #333)

[2021-11-12 08:39] #334 closed

[2021-11-12 08:42] didoo commented on #331
If this icon is used in the product(s), it would be better to have it in the "Flight - Services" group. What do you think @dizzyup?

[2021-11-15 20:23] Dhaulagiri opened #335 "Icons don't load when consumed via storybook"
@venusang and I paired on diagnosing a problem she was having using `ember-flight-icons` in storybook

### What I expected
I can compose stories in ember-cli-storybook that use icons via the `<ember-flight-icons>` component

### What happened
The icons don't appear. Top is storybook and bottom is in the app.

<img width="659" alt="CleanShot 2021-11-12 at 11 25 52@2x" src="https://user-images.githu

[2021-11-15 21:37] meirish commented on #335
I think adding a `.storybook/preview-body.html` file that does the same thing as the `contentFor` tag would fix this: https://storybook.js.org/docs/react/configure/story-rendering#adding-to-body

[2021-11-24 18:23] amyrlam opened #337 "Fix prettier config in tests"
Seen on diff here https://github.com/hashicorp/flight/pull/336/files re: `ember-flight-icons/tests/integration/components/flight-icon-test.js`

[2021-11-29 17:26] heatherlarsen commented on #331
@didoo I think the fact that it's a plugin logo (?) and not a generic icon is what makes it a part of the "Services" group, not that it's used in the product(s). But yes, I agree this should go in "Services". I'll track this down in the Waypoint repo and pull it into Flight this week.

[2021-12-06 21:19] jesdavpet commented on #282
Just wanted to `+1` @amyrlam  on the need for parity with an animated `loading` icon, WRT this discussion on Slack:
https://hashicorp.slack.com/archives/CPB8GS9QT/p1638825012141200?thread_ts=1638823666.137000&cid=CPB8GS9QT

TL;DR
- lack of a `loading` icon necessitates mixing both old and new icon libraries
- mixing icon libraries results in inconsistent and visually jarring spacing differences
-

[2021-12-07 12:46] Ashtronaut09 opened #339 "Flight Icon Request: [magic wand]"
**Outline the use case for the new icon.**
Given the invention of 'insights' and automated magic that the user could consent to, we might want a 'magic' icon.

**If there's a similar existing icon, why isn't it a good fit? Please describe.**
no magic in our system lol

**Describe alternatives you've considered.**
A lightbulb, we also don't have that.

**Screenshots**
![image](https://user-images.g

[2021-12-07 12:47] Ashtronaut09 opened #340 "Flight Icon Request: [lightbulb]"
**Outline the use case for the new icon.**
Insights are suggestions for users to take action on their work, it is smart.

**If there's a similar existing icon, why isn't it a good fit? Please describe.**
Cant think of anything that is "smart"

**Describe alternatives you've considered.**
A magic wand.

**Screenshots**
![image](https://user-images.githubusercontent.com/13004940/145031652-203980e3-c

[2021-12-07 19:02] amyrlam commented on #330
Cross-posting this PR from @didoo, may complete the issue? https://github.com/hashicorp/flight/pull/341

[2021-12-07 19:12] amyrlam commented on #282
Context:
- It sounds like the `loading` icon is used more, so it is likely higher priority over `run`.
- Note that in Structure, `loading` is its own component: https://structure.hashicorp.vercel.app/?path=/story/components-loading--index
- But some of the styling for `loading` is in structure-icons https://github.com/hashicorp/structure-icons/blob/91a2d6116b716ef109becec73502263066a9062d/README.m

[2021-12-07 19:32] didoo commented on #282
Some things I noticed and I posted in an internal thread, and I am reposting here for context (it is not exhaustive, please take it just as extra info):

in [Structure library in Figma](https://www.figma.com/file/B7yd8loYS7nA2TiQcJ8UtV/Structure-1.9?node-id=3576%3A6057) seems there are two icons, `loading` and `run`

<img width="591" alt="screenshot_489" src="https://user-images.githubusercontent.

[2021-12-07 19:38] didoo commented on #330
@amyrlam yes, you're right! I completely forgot about this particular open issue! I am closing it now.

@sabrinako FYI the product icons are now available both in Figma (as Flight Icons, usual standard library) as well as in code (version `2.0.0` of the icons, in which case careful is a breaking change)

[2021-12-07 19:38] #330 closed

[2021-12-07 21:25] heatherlarsen commented on #331
@sabrinako This icon has been added to Flight via #341

[2021-12-07 21:25] #331 closed

[2021-12-08 02:52] amyrlam opened #343 "Update to Flight icons in PPT template?"
https://www.hashicorp.com/brand/downloads

"HashiCorp General Presentation Template Lite" and others use Feather, update to Flight?

![image](https://user-images.githubusercontent.com/1372946/145139887-4dbb4e2b-73bc-4e60-b610-fb71e8344929.png)

[2021-12-08 20:11] sabrinako commented on #282
+1 for `loading`, the Waypoint UI uses this Structure icon. Just wanted to add another data point 🙂

[2021-12-09 19:40] Dhaulagiri opened #346 "GitHub action doesn't trigger CI"
https://github.com/hashicorp/flight/pull/322 created a github action for the build/sync process, but in practice the PR that is opened as a result of this is not correctly triggering the ci action to also run. This prevents the PR from being reviewed and merged.

We should either
* Ideally figure out why this is not working as expected and correct it
* or, less ideally, remove the action and assoc

[2021-12-09 19:58] Dhaulagiri commented on #346
[This is the reason](https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-further-workflow-runs). The step that creates the PR can't trigger subsequent workflows like our CI run.

[2021-12-09 20:21] Dhaulagiri commented on #346
@didoo @MelSumner @amyrlam this is low priority, but if we want to be able to have this workflow work as expected we'll have to setup a personal access token in the action as outlined [here](https://github.com/peter-evans/create-pull-request/issues/48#issuecomment-536204092) which I can do but...Main drawback being the PR would be opened in that person's name and that person could not approve/requ

[2021-12-09 21:10] MelSumner commented on #346
@Dhaulagiri this is def not my domain of expertise, I usually rely on someone else on the team to handle these things. I will defer to the rest of the team in this case.

[2021-12-09 21:33] didoo commented on #346
my feedback is this: **in theory** using GH actions for automatically open PRs for the Flight icons is the perfect solution; **in practice** is solving a problem that probably we don't have, with all the drawbacks that we have seen. for me, we can even remove this automated task.

(one more useful would be to bump&release via single click/action; if only we could specify a parameter in the action

[2021-12-09 23:06] amyrlam commented on #346
If keep the action, start with you, but ask Helpdesk if they can create a "shared" user so token not tied to an individual? Wouldn't be surprised if there already was one or more at the company TBH

[2021-12-15 05:46] amyrlam commented on #281
done by https://github.com/hashicorp/flight/pull/347

[2021-12-15 05:46] #281 closed

[2021-12-15 06:04] amyrlam commented on #337
I was wrong, this is chaining!

[2021-12-15 06:04] #337 closed

[2021-12-15 23:22] natmegs opened #348 "Flight Icon Request: ecs"
**Outline the use case for the new icon.**
Flight currently has `eks` and `ec2` icons - would it be possible to add `ecs` as well?
The current use case is for HCP Consul, where we have a Terraform quickstart feature which provides users the option to deploy Consul with clients running on either `eks` or `ec2` and we are currently working on adding support for `ecs` in addition.

**If there's a sim

[2021-12-15 23:43] natmegs commented on #348
@heatherlarsen would it be possible to add an outline version as well?
![image (4)](https://user-images.githubusercontent.com/19582796/146282052-37badfa0-77ec-439c-b05f-3d4aaec7a209.png)

[2021-12-15 23:47] heatherlarsen commented on #348
@natmegs We currently only support a mono version and a color version for services, but let me take this back to the team and see if it's something we can support. Will keep you in the loop.

[2021-12-17 01:51] amyrlam opened #350 "Change name on icon viewer to not include the size"
From a Slack thread with cloud-ui, they thought that the name would be `@name='terraform-color-16'`. It would be a nice improvement to the DX and UX to not show this!

![image](https://user-images.githubusercontent.com/1372946/146475530-982d2186-1e6b-4089-8c15-43c8dc1c7412.png)

[2021-12-17 01:52] amyrlam commented on #350
cc @jesdavpet @LINDGRENBA (didn't include the thread link because is internal)

[2021-12-17 08:37] didoo commented on #350
@amyrlam for the React developers, that inline the SVGs directly, this is the name that they need. so we need to show both:
- SVG name: `activity-16`
- Icon name: `activity`

[2021-12-20 21:59] amyrlam opened #351 "Surface descriptions in icon viewer"
I was originally thinking that `smile`, `meh` and `frown` were missing `face` as a synonym in the Description.

- We could add `face` as a synonym.
- Or, we could consider surfacing the synonyms in the UI. They're all grouped together as `emoji` which makes sense now.

![image](https://user-images.githubusercontent.com/1372946/146838087-d20d70f5-cb35-4f79-8624-827df218e039.png)

[2021-12-22 01:58] amyrlam commented on #260
I can close this for now since doesn't seem like something we will support at this time, but hope to revisit in the future!

[2021-12-22 01:58] #260 closed

[2021-12-22 19:39] #350 closed

[2021-12-22 19:39] #351 closed

[2021-12-22 19:54] amyrlam opened #357 "Bug with `hcp-color`?"
It doesn't appear to have color https://github.com/hashicorp/flight/pull/356 (will be on the microsite once merged), is that expected? cc @didoo @heatherlarsen @cveigt

[2021-12-22 19:56] amyrlam commented on #357
Ditto to `hashicorp-color`?

![image](https://user-images.githubusercontent.com/1372946/147148192-c8ce497a-5080-4a2c-967f-f0097dae45fd.png)

[2021-12-22 19:59] amyrlam commented on #357
Sorry for the piecewise messaging, here:

![image](https://user-images.githubusercontent.com/1372946/147148502-a881af03-a157-40f6-bfba-d8ceca173165.png)

[2021-12-22 20:00] amyrlam commented on #357
@heatherlarsen pointed out this is expected, sorry for the noise! https://github.com/hashicorp/flight/pull/356#issuecomment-999828358

[2021-12-22 20:00] #357 closed

[2022-01-03 15:30] #238 closed

[2022-01-04 21:58] Dhaulagiri commented on #335
@venusang @meirish I believe I recall that y'all ended up fixing this yes?

[2022-01-04 21:59] #129 closed

[2022-01-06 22:57] heatherlarsen commented on #348
@natmegs after speaking with the team prior to break, what we're looking for with Service icons is the official logo, so if the official logo is outlined then we would use that but if it's solid, then we'd use the solid version. I'm having a bit of trouble tracking the official version for this one, but will keep looking.

[2022-01-08 00:37] amyrlam opened #365 "Fix Prettier on /website .hbs"
Is not working, see https://github.com/hashicorp/flight/blob/main/website/app/templates/index.hbs, which has single quotes

May be helpful to look into https://github.com/hashicorp/flight/pull/360 first and wrangle the monorepo package.json's first

[2022-01-10 15:18] #365 closed

[2022-01-10 16:31] amyrlam commented on #365
update: keep this closed!

[2022-01-10 17:26] amyrlam opened #369 "Address TODO's on design.hbs"
In this instance, it seemed to make more sense to file an issue vs. removing them, since I wasn't 100% sure of the TODO yet from a quick look.

- [ ] https://github.com/hashicorp/flight/blob/main/website/app/templates/design.hbs#L76
- [ ] https://github.com/hashicorp/flight/blob/main/website/app/templates/design.hbs#L196
- [ ] https://github.com/hashicorp/flight/blob/main/website/app/templates/des

[2022-01-10 19:35] Dhaulagiri opened #370 "ember-flight-icons data-test-* not being stripped in production"
For reasons unknown, data-test-* selectors are not being stripped for production usage of ember-flight-icons.

#### cloud-ui
<img width="487" alt="Screen Shot 2022-01-10 at 13 34 02" src="https://user-images.githubusercontent.com/1672302/148827664-24aaa7e4-a1ae-4e44-b4d5-0dcf0892aff8.png">

#### website docs in this repo
<img width="514" alt="Screen Shot 2022-01-10 at 13 33 31" src="https://user-i

[2022-01-11 01:46] amyrlam opened #371 "Explore if we are implementing Prettier the correct way"
May want to:

(1) update ember-template-lint to 4.x like https://github.com/hashicorp/design-system-components/pull/125
(2) use Prettier plugin with ember-template-lint, which is the new(?) recommended way, re: https://github.com/ember-learn/guides-source/pull/1761

Thought about this from this comment: https://github.com/hashicorp/flight/pull/368#discussion_r781320725

[2022-01-11 12:59] didoo opened #372 "Flight Icon Request: [vault-color] (update)"
**Outline the use case for the icon update.**
@ashleemboyer has highlighted a use case for the Vault (color) icon that is not supported by the current icon in Flight:

<img width="387" alt="screenshot_695" src="https://user-images.githubusercontent.com/686239/148945661-153f01cc-7326-4ff5-a7be-924247b35638.png">

Currently in Flight the `vault-color` icon is an outlier:
<img width="1084" alt="scree

[2022-01-11 14:33] didoo commented on #372
@heatherlarsen @cveigt the brand color for Vault has been updated by the marketing team (see https://github.com/hashicorp/design-system-tokens/pull/59) please update it also in the UI Kit libraries before updating the icon, so we're sure it uses the right color.

[2022-01-12 04:01] cveigt commented on #372
@didoo, I've updated the color in the UI kit and the logos/icons in Flight as well. Once the changes are approved, and the library is published, I'll let you know.

[2022-01-12 04:12] amyrlam opened #374 "Improve nav a11y"
I originally did this on another repo https://github.com/hashicorp/design-system-components/pull/122/commits/ba268b5023943d1e55067083c470ce3880687c31, but thought it would make more sense to bring here first.

The existing nav does give a visual indicator of what tab you are on. We should adjust this to improve our a11y. For example, having the white border bottom be persistent.

Gif showing that

[2022-01-12 15:39] Dhaulagiri commented on #374
It's unlikely we'll be prioritizing much in the way of updates for the website given our intentions to migrate this into the design system website this year.

Structure's style doesn't match the docs here so I don't think it would make sense to use it here (among other reasons), but if we wanted to learn pain points from it we could find other ways to experiment with it/chat with folks who have us

[2022-01-12 16:10] amyrlam commented on #374
Yeap, I made this issue cause I proposed this change on design-system-components for a11y, and this was mentioned as a reference. So I wanted to float the idea here first, as this was (from what I remember) used as an example to follow.

[2022-01-13 14:19] #346 closed

[2022-01-13 21:49] heatherlarsen commented on #348
@natmegs I spoke with our AWS Marketing Partner reps today and they informed me that Amazon will be updating their usage guidelines and hopefully providing the official versions of each of the service icons in February, so at this point we're just waiting on them to release that. Is there a deadline for this on your end?

[2022-01-14 21:56] cveigt commented on #282
**Update:** We are bringing both "loading" and "running" icons to the next version of Flight.

<img width="540" alt="Screen Shot 2022-01-14 at 1 16 09 PM" src="https://user-images.githubusercontent.com/2142312/149586302-9a935e8a-a49a-47fe-ab66-1b9d27470cf9.png">

**For more context**

We (the DS team) talked to some product designers and have taken into consideration a variety of [use cases](https

[2022-01-15 12:52] didoo commented on #372
For future reference, here's the marketing presentation about the change in the logo color/design: [Vault Logo Color and Visual Refinements](https://docs.google.com/presentation/d/1EsUsMkTrSd53qKntDmsHEbjdirc1OhU38ajXfThx80I/edit#slide=id.g104d2e9b90a_1_186)

[2022-01-17 09:42] #372 closed

[2022-01-17 09:51] didoo commented on #372
@ashleemboyer version `2.0.2` of the flight icons has been released, it contains the updated version of the Vault icon.
Let me know if you have any issue.

[2022-01-17 10:38] johncowen commented on #370
:reverse_bushes: fwiw if it was me I'd remove the data-test selectors entirely from this package (plus the data-test selectors themselves). Testing (if required by the end user) should be controlled and decided by the end user. I think I mentioned at the time when this discussion was happening a few months back that including these kinds of dependencies in a package like this can be problematic to

[2022-01-17 19:25] cveigt opened #386 "Docs: Add usage guidelines for animated icons"
Since we are adding animated icons, it'd be helpful to outline this new category and add some examples to the design guidelines.

### Updates: ###
- Add a new type under Available Types.
- Add a new item under best practices.

#### Copy updates: ####

- **Animated**
Glyph with animated effect, e.g. spinning
Used to show a transition between two states.
- **Use animated icons to communicate activit

[2022-01-18 16:52] braydenlove opened #387 "Flight Icon Request: [enterprise]"
**Outline the use case for the new icon.**
An icon to describe an enterprise version of one of our products to be used on landing page cards.

**If there's a similar existing icon, why isn't it a good fit? Please describe.**
I am currently using org which looks like it could be enterprise. I worry about using it here if folks are use to seeing that icon in the actual products.

**Describe alternat

[2022-01-18 18:13] braydenlove commented on #387
Comment via @heatherlarsen
Enterprise idea: https://thenounproject.com/icon/enterprise-1584264/
add people to the buildings to help differentiate from the org icon, but still be similar?

[2022-01-21 14:30] Dhaulagiri opened #388 "Add documentation for react icons"
https://github.com/hashicorp/flight/pull/325 added generation of icon components for use in React projects, but no documentation was added. We should add documentation for how to use these components so people know they exist.

[2022-01-21 14:33] didoo commented on #388
@Dhaulagiri I'm on it.

[2022-01-21 19:58] cveigt commented on #387
@heatherlarsen @braydenlove, that could work. I can try making a simplified version as it may be hard to read at 16px.

Here is another idea I wanted to run by you. Since the building icon is tied to organizations within HCP, also, the description refers to an enterprise product, not necessarily enterprise as an entity. Maybe something related to scale, global could help communicate this concept a

[2022-01-24 15:42] braydenlove commented on #387
@cveigt I think these concepts would absolutely work. Thanks for sketching stuff out!

[2022-01-24 18:11] #388 closed

[2022-01-29 01:12] cveigt commented on #340
Update: We will be adding this icon in the next release.

<img width="131" alt="Screen Shot 2022-01-28 at 5 06 47 PM" src="https://user-images.githubusercontent.com/2142312/151640931-dc8dfb47-c3f8-4350-9f82-9d2d151e59da.png">

We'll also add the [wand](https://github.com/hashicorp/flight/issues/339) icon.

[2022-01-29 01:19] cveigt commented on #339
Update: We will be adding this icon in the next release, along with the [Bulb](https://github.com/hashicorp/flight/issues/340).

<img width="131" alt="Screen Shot 2022-01-28 at 5 13 00 PM" src="https://user-images.githubusercontent.com/2142312/151641106-283dd5d5-3daf-45e2-93ea-f4d3166e0aec.png">

@Ashtronaut09, let me know if you have any comments or feedback before publishing on Figma.

[2022-02-02 01:55] cveigt commented on #387
We will be adding this icon in the next release.

<img width="129" alt="Screen Shot 2022-02-01 at 5 44 41 PM" src="https://user-images.githubusercontent.com/2142312/152080496-a9d41460-98ba-426f-8435-bafbf7de802f.png">

@braydenlove Let me know if you have any comments or feedback before publishing it on Figma and pushing it to production.

Here's an example of how it will look like in the Terrafor

[2022-02-02 18:04] braydenlove commented on #387
Awesome work, thanks so much @cveigt

[2022-02-02 18:04] #387 closed

[2022-02-02 20:39] #339 closed

[2022-02-02 20:39] #340 closed

[2022-02-02 20:52] #282 closed

[2022-02-02 20:53] jnwright opened #397 "Flight Icon Request: service"
**Outline the use case for the new icon.**
an icon to designate services (could be useful for both Consul and Nomad)

**Describe alternatives you've considered.**
we currently have the "cluster" icon as a stand-in, but feel like that's too general

**Screenshots**
![image](https://user-images.githubusercontent.com/16551527/152235457-6b01ff14-2f68-432d-aefd-2c7b9ec9ae58.png)

**Figma**
[Consul Over

[2022-02-11 14:27] Dhaulagiri opened #407 "Locally linking ember-flight-icons in website doesn't work"
### Steps to Reproduce
[code]

### What happens
<img width="918" alt="Screen Shot 2022-02-11 at 08 26 37" src="https://user-images.githubusercontent.com/1672302/153609202-0784f2e9-ee8d-4bb5-b202-ff7f1c7241c1.png">

### What I expect
The website load as normal

[2022-02-11 15:40] Dhaulagiri commented on #407
Note: this issue came up trying to experiment with these packages in a monorepo where linking is required for things to work. Hence a higher priority to figure out.

[2022-02-11 15:53] #407 closed

[2022-02-11 15:53] didoo commented on #407
Yes, I saw the same error myself, while doing some tests, but I couldn't figure out what was the cause. Great to see it fixed :)

[2022-02-23 00:38] cveigt commented on #348
Update: After all the work that @heatherlarsen has done, partnering with marketing and tracking down design guidelines, we have a logo aligned with AWS usage guidelines.

We'll be adding these two icons to Flight.

<img width="257" alt="Screen Shot 2022-02-22 at 4 31 42 PM" src="https://user-images.githubusercontent.com/2142312/155243033-17434f61-50ea-46b2-9354-c2ccef027884.png">

[2022-02-23 00:49] cveigt commented on #397
We will be adding this icon in the next release.

<img width="123" alt="Screen Shot 2022-02-22 at 1 00 12 PM" src="https://user-images.githubusercontent.com/2142312/155243831-d836fe9a-90c1-4eb3-8950-c4b2ac345abc.png">

It was already shared with @jnwright.

[2022-02-23 17:03] cveigt commented on #348
CC @didoo

[2022-02-23 17:03] cveigt commented on #397
CC @didoo

[2022-02-23 20:32] #348 closed

[2022-02-23 20:32] #397 closed

[2022-02-25 14:07] natmegs commented on #348
@cveigt @heatherlarsen we had been chatting offline but I forgot to post here as well - thank you so much for the help with this!! Really appreciate it

[2022-03-01 03:23] amyrlam commented on #258
This will be done as part of the monorepo project.

[2022-03-01 03:26] amyrlam opened #417 "Consider fixing alphabetization of icons"
<img width="1317" alt="image" src="https://user-images.githubusercontent.com/1372946/156098892-3e70dda2-c1b2-4f74-b0f8-0556911117f2.png">

`loading` and `running` appear first.

Suggestion: Have the name on the Flight website be `animation-loading` and `animation-running`.

Edit: Seems like they're ordered by type, then alphabetical (e.g. `slack` is with other corporate icons). Not sure if intende

[2022-03-01 03:31] amyrlam opened #418 "Add "face" as additional keyword to "emoji" set of icons"
https://flight-hashicorp.vercel.app/?query=emoji

Since it's not an emoji per se...I thought that grouping was confusing. Consider adding `face` as another keyword synonym. (Forgot to file this from awhile ago. Low priority, just a suggestion if seems like an improvement.)

[2022-03-01 22:11] MelSumner commented on #417
Is this a bug? I am okay with having the animated ones first, and then the rest sorted alphabetically. Is there some sort of drawback to leaving it this way?

[2022-03-01 23:23] amyrlam commented on #417
@MelSumner It's not just the animated ones that are out of order. Company ones are also out of order, sorted by type (e.g. `waypoint` before `hashicorp` before `alert-circle`:

<img width="1302" alt="image" src="https://user-images.githubusercontent.com/1372946/156265108-0fe438c1-c54e-49e3-b6c7-22a3888c118d.png">

For ~700 icons (and counting), not having a clear alphabetical order is arguably a b

[2022-03-02 14:14] Dhaulagiri commented on #417
I think this makes sense and would be relatively easy to implement. Right now we're just spitting back out the order of the icons from the `catalog.json` file which is "sorted" based on where the different icons live on the figma side of things.

[2022-03-02 17:26] #335 closed

[2022-03-04 17:19] amyrlam commented on #66
This issue could maybe be broken up into two, if gets worked on:

1) Marketing Next.js side wants to animate a portion of external link icon, the arrow in the upper right hand side
2) Product Ember.js side wants to have a loading icon component that replaces https://structure.hashicorp.vercel.app/?path=/story/components-loading--index in structure

Moving issue to new repo https://github.com/hashi

[2022-03-04 17:20] amyrlam commented on #80
Moving issue to https://github.com/hashicorp/design-system

[2022-03-04 17:21] amyrlam commented on #202
Moving issue to https://github.com/hashicorp/design-system

[2022-03-04 17:22] amyrlam commented on #204
Moving issue to https://github.com/hashicorp/design-system

[2022-03-04 17:23] amyrlam commented on #206
Moving issue to https://github.com/hashicorp/design-system

[2022-03-04 17:24] amyrlam commented on #237
Moving issue to https://github.com/hashicorp/design-system

[2022-03-04 17:24] amyrlam commented on #239
Moving issue to https://github.com/hashicorp/design-system

[2022-03-04 17:24] amyrlam commented on #255
Moving issue to https://github.com/hashicorp/design-system

[2022-03-04 17:25] amyrlam commented on #256
Moving issue to https://github.com/hashicorp/design-system

[2022-03-04 17:35] amyrlam commented on #257
@heatherlarsen closing issues related to the flight docs for now as a "won't do", but feel free to reopen in https://github.com/hashicorp/design-system/issues or file in asana if this is worked on later cc @Dhaulagiri

[2022-03-04 17:35] #257 closed

[2022-03-04 17:35] amyrlam commented on #258
closing since will be addressed in the monorepo https://app.asana.com/0/1201630204387510/1201909305231864/f

[2022-03-04 17:35] #258 closed

[2022-03-04 17:36] amyrlam commented on #343
seems safe to close cc @Dhaulagiri

[2022-03-04 17:36] #343 closed

[2022-03-04 17:36] amyrlam commented on #369
closing issues related to flight docs as won't do

[2022-03-04 17:36] #369 closed

[2022-03-04 17:37] amyrlam commented on #370
Moving to new monorepo https://github.com/hashicorp/design-system

[2022-03-04 17:38] amyrlam commented on #371
closing as won't do. can be explored in monorepo if an appetite for it

[2022-03-04 17:38] #371 closed

[2022-03-04 17:38] amyrlam commented on #374
closing as won't do. melanie fixed this on design-system-components home nav

[2022-03-04 17:39] amyrlam commented on #386
Seems like something we may want to add, although closed stale Flight docs issues, so moving issue to https://github.com/hashicorp/design-system cc @Dhaulagiri

[2022-03-04 17:40] amyrlam commented on #417
Can close as a won't do for now vs move to the new repo

[2022-03-04 17:40] #417 closed

[2022-03-04 17:41] amyrlam commented on #418
Minor enhancement, closing as a won't do for now

[2022-03-04 17:41] #418 closed